<div role="tabpanel" class="tab-pane active review-setting-page">
	<!-- <h3 class="model-heading text-center">Review Settings</h3> -->

	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-4 col-sm-5">Engagement</label>
				<div class="col-md-8 col-sm-7">
					<select class="form-control">
						<option>Legal GFX</option>
						<option>Legal GFX</option>
						<option>Legal GFX</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-4 col-sm-5">Marketting</label>
				<div class="col-md-8 col-sm-7">
					<select class="form-control">
						<option>By Category</option>
						<option>By Markeing</option>
						<option>By Envirement</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-4 col-sm-5">&nbsp;</label>
				<div class="col-md-8 col-sm-7">
					<button class="btn btn-success text-uppercase">Save</button>
					<a href="/home/brand/reviewflow/settings/category" class="pull-right cat-set">Category Setting</a>
				</div>
			</div>
		</form>
	</div>

</div>