/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

html, body {
	height:100%;
}
body {
	font:400 15px/1.5 Verdana, sans-serif;
	color: #9b968b;
	background: #efeee2;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: #cbc6b2;
    color: #fff;
}

::-moz-selection {
	background: #cbc6b2;
    color: #fff;
}

small {
	font-size:85%;
}

strong {
	font-weight:bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:'Judson', Arial, sans-serif;
	line-height:1;
	margin-top:0;
	color:#857e70;
}


h1 {
  font-size: 32px;
  line-height: 40px;
}

h2{
  font-size: 26px;
  line-height: 34px;
}

h3 {
  font-size: 21px;
  line-height: 27px;
}
h4{
  font-size: 18px;
  line-height: 25px;
}
h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

ul {
	list-style-type:none;
	padding-left:0;
	margin-bottom:0;
}

ul.list-disc {
	list-style-type:disc;
	padding-left:20px;
	margin-left:20px;
}

a {
	-webkit-transition:color .24s ease-in-out;
	-moz-transition:color .24s ease-in-out;
	-o-transition:color .24s ease-in-out;
	-ms-transition:color .24s ease-in-out;
	transition:color .24s ease-in-out;
	color:#868176;
	text-decoration:none;
}

a:active,
a:hover {
	text-decoration:none;
	color:#e61446;
}

a:active,
a:focus,
input,
select,
textarea {
	outline:none;
}

iframe {
	border:none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ebebeb;
}

hr.big {
	margin-top: 40px;
	margin-bottom: 40px;
}

hr.sections {
	margin-top: 70px;
	margin-bottom: 70px;
}
p {
	margin-bottom:20px;
}

blockquote {
	padding:35px 20px 10px 60px;
	margin: 0 0 20px;
	border-left: none;
	position: relative;
}

blockquote p {
	font-size: 15px;
	font-weight: 400;
	line-height:21px;
	font-style:italic;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

code,
pre {
    color: #888;
    font: 13px "PT Sans", Arial, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word
}

pre {
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f2f2f2), color-stop(50%, #e9e9e9));
    background-image: -webkit-linear-gradient(#f2f2f2 50%,#e9e9e9 50%);
    background-image: -moz-linear-gradient(#f2f2f2 50%,#e9e9e9 50%);
    background-image: -o-linear-gradient(#f2f2f2 50%,#e9e9e9 50%);
    background-image: linear-gradient(#f2f2f2 50%,#e9e9e9 50%);
    -moz-background-size: 54px 54px;
    background-size: 54px 54px;
    border: 1px solid #e0e0e0;
    display: block;
    line-height: 27px;
    margin-bottom: 15;
    overflow: visible;
    overflow-y: hidden;
    padding:0 0 0 10px;
}

.xs-margin,
.sm-margin,
.md-margin,
.lg-margin,
.xlg-margin {
	min-height:1px;
}

.xs-margin {
	margin-bottom:10px !important;
}

.sm-margin {
	margin-bottom:20px !important;
}

.md-margin {
	margin-bottom:30px !important;
}

.lg-margin {
	margin-bottom:40px !important;
}

.xlg-margin {
	margin-bottom:50px !important;
}

.md-margin2x {
	margin-bottom:60px !important;
}

.lg-margin2x {
	margin-bottom:80px !important;
}

.xlg-margin2x {
	margin-bottom:100px !important;
}

.highlight {
  padding:1px 5px;
  color:#fff;
  background:#7bae23;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after,
.clear,
.cl {
  clear: both;
}

/************************** content */

.container {
	width:720px;
	margin-left:auto;
	margin-right:auto;
}

.one-full {
  width: 100%;
}

.one-quarter {
  width: 25%;
}

.three-quarter {
  width: 75%;
}
.one-five {
  width:20%;
}
.four-five {
  width:80%;
}
.two-five {
  width:40%;
}
.three-five {
  width:60%;
}
.one-half {
  width: 50%;
}

.one-three {
  width: 33.333%;
}

.two-three {
  width: 66.666%;
}

.one-half.middle,
.one-three.middle,
.two-three.middle,
.three-quarter.middle {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.one-half.middle {
  width: 50%;
}

.one-three.middle {
  width: 33.333%;
}

.two-three.middle {
  width: 66.666%;
}

.three-quarter.middle {
  width: 75%;
}


.one-quarter.first,
.one-three.first,
.one-half.first,
.three-quarter.first,
.two-three.first,
.one-five.first,
.two-five.first,
.three-five.first,
.four-five.first {
  padding-left: 0 !important;
}

.one-quarter.last,
.one-three.last,
.one-half.last,
.three-quarter.last,
.two-three.last,
.one-five.last,
.two-five.last,
.three-five.last,
.four-five.last {
  padding-right: 0 !important;
}

.one-full,
.one-quarter,
.three-quarter,
.one-half,
.one-three,
.two-three,
.one-five,
.two-five,
.three-five,
.four-five {
    float: left;
    min-height: 1px;
}

.one-full,
.one-quarter,
.three-quarter,
.one-half,
.one-three,
.two-three,
.one-five,
.two-five,
.three-five,
.four-five  {
  padding-right: 5px;
  padding-left: 5px;
}



#header {
	position:fixed;
	top:0;
	left:0;
	width:270px;
	height:100%;
	background:#d6d2c0;
	border-right:1px solid #cbc6b2;
	box-shadow:4px 0 5px rgba(0,0,0, 0.1);
	-webkit-box-shadow:4px 0 5px rgba(0,0,0, 0.1);
	
}

#header-inner {
	width:100%;
	height:100%;
	padding:60px 20px 20px;
	position: relative;
}


#logo-container {
	text-align:center;
}

#logo {
	display:inline-block;
}

#menu {
	list-style-type:none;
	padding:0;
	margin:0;
	border-top:1px solid rgba(0,0,0, 0.05);
	border-bottom:1px solid #cbc6b2;
}

#menu li{
	display:block;
	width:100%;
}

#menu li {
	font-size:16px;
	text-align:right;
	border-top:1px solid #cbc6b2;
	border-bottom:1px solid rgba(0,0,0, 0.075);
}

#menu li a{
	display:inline-block;
	padding:10px 0;
}

#menu li > .open-menu {
	display:inline-block;
	padding-left: 5px;
	color:#868176;
}

#menu li ul {
	display:none;
	list-style-type:none;
	padding:0 10px 0 0;
	background: rgba(0,0,0, 0.07);
	border:none;
	padding:7px 0;
}

#menu li  ul li {
	font-size:14px;
	border-top:1px solid #cbc6b2;
	border-bottom:1px solid rgba(0,0,0, 0.08);
}

#menu li ul li a {
	display:inline-block;
	padding:7px 15px;
	border:none;
	color:#767064;
}

#menu li ul li a:hover {
	color:#e61446;
}

#menu li ul li:first-child {
	border-top:none;
}

#menu li ul li:last-child {
	border-bottom:none;
}

#header-bottom-text {
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	font-size:13px;
}

/* Content */
#content {
	padding:60px 0;
}

.title {
	text-align:center;
}

.sub-title {
	margin-bottom: 20px;
}

.include-list {
	margin-left:20px;
}

.include-list li {
	margin-bottom:5px;
}

.include-list li img {
	display:inline-block;
	margin-right:8px;
	width:20px;
}

.include-list li ol {
	margin:8px 0 8px 30px;
}


.include-list li ol li img {
	display:inline-block;
	margin-right:6px;
	width:18px;
}

.credits-list {
	list-style-type: square;
	padding-left:30px;
}



.faq-title {
	font-size:17px;
	line-height:22px;
	margin-bottom:8px;
}

#footer {
	text-align:center;
}