<div class="main-center anMDiv newest-tsks wrps-dtls">
    <div class="wrapes-inbox">
        <p class="inbox">Campaign
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
    <div class="default-model wraper-brands">
	<div class="modelbox-body">
         <div class="">
           {{campaign-tabs isMetricsTabActive=model.isMetricsTabActive}}
          </div>
         <div class="right-panel compaign-chat">
              <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active">
					<h4 class="text-center">Member Metrics</h4>
                        <!-- <label class="control-label col-md-4 text-right">Edit Team</label> -->
                           
                            <ul class="towBtnUl" style="text-align:center">
								<li><a class="btn btn-success text-uppercase" href="javascript:void()">Edit Metrics</a></li>
							</ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
