<div class="main-center">
	<div class="row wrap-main-2">
	<div class="wrapes-inbox">
        <p class="inbox"><span class="feeds-icons"><i class="fa fa-tablet" aria-hidden="true"></i></span>Feeds
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
	<div class="wraps-both">
	<div class="wrap-list-itm">
		<h4><!-- Facebook --><span class="social-icons"><i class="fa fa-facebook" aria-hidden="true"></i></span>
			Feed: Contetto - My-Post - *Filters
			<!-- <div class="entry-icon cmenu dropdown pull-right">
				<img src="assets/images/Setting.png" class="dropdown-toggle" data-toggle="dropdown">
				<ul class="custom-menu dropdown-menu">
					<li><a href="#">Hide</a></li>
					<li><a href="#">Filters ></a></li>
					<li><a href="#">Notification ></a></li>
					<li><a href="#">Remove</a></li>
				</ul>
			</div> -->
		</h4>
		<div class="wraper--inner-div">
		<p class="lists-text">By:Mac<span class="pull-right">20 minutes ago</span></p>
		<div class="wrap-mac-set">
		<div class="entry-main">
			<div class="wraper-div">
                <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                <a href="#">dfljdsflgdfls</a>
           </div>
			<div class="entry-icons">
				<div class="entry-icon"><img src="assets/images/icon-check.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-back.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-close-bw.png"></div>
			   <div class="entry-icon cmenu dropdown">
					<img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="custom-menu dropdown-menu">
						<li><a href="#">Task</a></li>
						<li><a href="#">Reminder</a></li>
						<li><a href="#">Note</a></li>
						<li><a href="#">Doscussion</a></li>
						<li><a href="#">Filters</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
		<div class="wraper--inner-div">
		<p class="lists-text">By:Mac<span class="pull-right">20 minutes ago</span></p>
		<div class="wrap-mac-set">
		<div class="entry-main">
			<div class="wraper-div">
                <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                <a href="#">dfljdsflgdfls</a>
           </div>
			<div class="entry-icons">
				<div class="entry-icon"><img src="assets/images/icon-check.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-back.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-close-bw.png"></div>
			   <div class="entry-icon cmenu dropdown">
					<img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="custom-menu dropdown-menu">
						<li><a href="#">Task</a></li>
						<li><a href="#">Reminder</a></li>
						<li><a href="#">Note</a></li>
						<li><a href="#">Doscussion</a></li>
						<li><a href="#">Filters</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
		<div class="wraper--inner-div">
		<p class="lists-text">By:Mac<span class="pull-right">20 minutes ago</span></p>
		<div class="wrap-mac-set">
		<div class="entry-main">
			<div class="wraper-div">
                <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                <a href="#">dfljdsflgdfls</a>
           </div>
			<div class="entry-icons">
				<div class="entry-icon"><img src="assets/images/icon-check.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-back.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-close-bw.png"></div>
			   <div class="entry-icon cmenu dropdown">
					<img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="custom-menu dropdown-menu">
						<li><a href="#">Task</a></li>
						<li><a href="#">Reminder</a></li>
						<li><a href="#">Note</a></li>
						<li><a href="#">Doscussion</a></li>
						<li><a href="#">Filters</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	</div>
	<div class="wrap-list-itm">
		<h4><!-- Facebook --><span class="social-icons"><i class="fa fa-facebook" aria-hidden="true"></i></span>
			Feed: Contetto - My-Post - *Filters
			<!-- <div class="entry-icon cmenu dropdown pull-right">
				<img src="assets/images/Setting.png" class="dropdown-toggle" data-toggle="dropdown">
				<ul class="custom-menu dropdown-menu">
					<li><a href="#">Hide</a></li>
					<li><a href="#">Filters</a></li>
					<li><a href="#">Notification</a></li>
					<li><a href="#">Remove</a></li>
				</ul>
			</div> -->
		</h4>
		<p class="top-links"><a href="#">3 Notes</a><a href="#">3 Task</a><a href="#">3 Reminder</a><a href="#">3 Discusion</a></p>
<div class="wraper--inner-div">
		<p class="lists-text">By:Mac<span class="pull-right">20 minutes ago</span></p>
		<div class="wrap-mac-set">
		<div class="entry-main">
			<div class="wraper-div">
                <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                <a href="#">dfljdsflgdfls</a>
           </div>
			<div class="entry-icons">
				<div class="entry-icon"><img src="assets/images/icon-check.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-back.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-close-bw.png"></div>
			   <div class="entry-icon cmenu dropdown">
					<img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="custom-menu dropdown-menu">
						<li><a href="#">Task</a></li>
						<li><a href="#">Reminder</a></li>
						<li><a href="#">Note</a></li>
						<li><a href="#">Doscussion</a></li>
						<li><a href="#">Filters</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
<div class="wraper--inner-div">
		<p class="lists-text">By:Mac<span class="pull-right">20 minutes ago</span></p>
		<div class="wrap-mac-set">
		<div class="entry-main">
			<div class="wraper-div">
                <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                <a href="#">dfljdsflgdfls</a>
           </div>
			<div class="entry-icons">
				<div class="entry-icon"><img src="assets/images/icon-check.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-back.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-close-bw.png"></div>
			   <div class="entry-icon cmenu dropdown">
					<img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="custom-menu dropdown-menu">
						<li><a href="#">Task</a></li>
						<li><a href="#">Reminder</a></li>
						<li><a href="#">Note</a></li>
						<li><a href="#">Doscussion</a></li>
						<li><a href="#">Filters</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
<div class="wraper--inner-div">
		<p class="lists-text">By:Mac<span class="pull-right">20 minutes ago</span></p>
		<div class="wrap-mac-set">
		<div class="entry-main">
			<div class="wraper-div">
                <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                <a href="#">dfljdsflgdfls</a>
           </div>
			<div class="entry-icons">
				<div class="entry-icon"><img src="assets/images/icon-check.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-back.png"></div>
				<div class="entry-icon"><img src="assets/images/icon-close-bw.png"></div>
			   <div class="entry-icon cmenu dropdown">
					<img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="custom-menu dropdown-menu">
						<li><a href="#">Task</a></li>
						<li><a href="#">Reminder</a></li>
						<li><a href="#">Note</a></li>
						<li><a href="#">Doscussion</a></li>
						<li><a href="#">Filters</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	</div>
	</div>
	<div class="filters-type veiws-flts">
		<div class="main-right ember-view"> 
		
		<!-- <div class="hidden-sm hidden-xs input-group stylish-input-group">
            <input type="text" class="form-control">
            <span class="input-group-addon">
                <button type="submit" style="padding: 0;">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div> -->
			<h5 class="text-uppercase list-nws">Filter</h5>
			<div class="checkrow">
				<input type="checkbox" id="neutra4l" name="neutral9" class="ember-view ember-checkbox">
				<label for="neutra4l">ALL</label>
			</div>
			<div class="checkrow">
				<input type="checkbox" id="neutral56" name="neutral8" class="ember-view ember-checkbox">
				<label for="neutral56">UNMANAGED</label>
			</div>
			<h5 class="text-uppercase list-nws-fds">FEEDS</h5>
			<div class="checkrow pl0">
				<input type="checkbox" id="neutral57" name="neutral5" class="ember-view ember-checkbox" checked>
				<label for="neutral57">
				<img src="assets/images/image-fb.png"> FACEBOOK
				</label>
			</div>
			<div class="checkrow">
				<input type="checkbox" id="newLikes" name="newLikes" class="ember-view ember-checkbox">
				<label for="newLikes">New Likes<span class="badge pull-right">3</span></label>
			</div>
			<div class="checkrow">
				<input type="checkbox" id="neutral5" name="neutral4" class="ember-view ember-checkbox">
				<label for="neutral5">Private Messages<span class="badge pull-right">4</span></label>
			</div>
			<div class="checkrow">
				<input type="checkbox" id="neutral4" name="neutral3" class="ember-view ember-checkbox">
				<label for="neutral4">Comments</label>
			</div>
			<h5 class="text-uppercase list-nws-fds">HISTORY</h5>
		
			<div class="checkrow">
				<input type="checkbox" id="neutral3" name="neutral2" class="ember-view ember-checkbox">
				<label for="neutral3">ARCHIVE</label>
			</div>
			<div class="checkrow">
				<input type="checkbox" id="neutral2" name="neutral1" class="ember-view ember-checkbox">
				<label for="neutral2">COMPLITED</label>
			</div>
		
		</div>
	</div>
</div>
</div>
