<div role="tabpanel" class="tab-pane active review-department-page">
	<div class="tab-pane active">
		<!-- <h3 class="model-heading text-center">New Department</h3> -->
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-4 col-sm-5">Name</label>
				<div class="col-md-8 col-sm-7"><input type="text" class="form-control"></div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-4 col-sm-5">&nbsp;</label>
				<div class="col-md-8 col-sm-7"><button class="btn btn-success text-uppercase">Save</button></div>
			</div>
		</form>
	</div>
</div>