<div class="row">
        <div class="col-md-3 col-sm-12 reviewfow_tabs">
          {{brand-team-tab isTeamDetailsActive=model.isTeamDetailsActive}}
        </div>
        
        <div class="col-md-9 col-sm-12">
         <div class="tab-content">
            <div class="tab-pane active team_detailpage">
                <ul>
                  <li><strong>Name: </strong> Sam Hamish</li>
                  <li><strong>Address: </strong> 1234 Logan ave</li>
                  <li><strong>City & Postal: </strong> Van couver BC V&R 2K3</li>
                  <li><strong>Phone Number: </strong> 604-123-5678</li>
                  <li><strong>Email: </strong> Samh@contetto.com</li>
                  <li><strong>Mail Company: </strong> Conteto</li>
                  <li><strong>Role: </strong> Manager <a href="#" class="text-primary">Change</a></li>
                </ul>
                <button type="button" class="btn btn-success  text-uppercase">Edit Information</button>
            </div>
          </div>
        </div>
</div>