<div class="main-center anMDiv newest-tsks  wrps-dtls">
    <div class="wrapes-inbox">
        <p class="inbox">Campaign
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
    <div class="default-model tsk-details wraper-brands">
	    <div class="modelbox-body">
          <div class="">
           {{campaign-tabs isDetailsTabActive=model.isDetailsTabActive}}
          </div>
            <div class="right-panel">
              <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active">
                    	<form class="form-horizontal campaignDetailsForm col-md-12">
                            <h4 class="text-heading">Campaign Details</h4>

                              <div class="row">
                              <div class="col-md-6">
                              <div class="form-group">
                                <label class="col-md-4 control-label">Name</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Name">
                                </div>
                                </div>
                                 </div>
                                <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Type</label>
                                <div class="col-md-8">
                                  <select class="form-control">
                            	  <option>Type 1</option>
                            	  <option>Type 2</option>
                            	  <option>Type 3</option>
                            	  <option>Type 4</option>
                            	  </select>
                                </div>
                                </div>
                                 </div>
                             </div>

                             <div class="row">
                                <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Category</label>
                                <div class="col-md-8">
                                  <select class="form-control">
                            	  <option>Category 1</option>
                            	  <option>Category 2</option>
                            	  <option>Category 3</option>
                            	  <option>Category 4</option>
                            	  </select>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Status</label>
                                <div class="col-md-8">
                                  <select class="form-control">
                            	  <option>Pending</option>
                            	  <option>Active</option>
                            	  <option>Inactive</option>
                            	  <option>Processing</option>
                            	  </select>
                                </div>
                                </div>
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Start</label>
                                <div class="col-md-8">
                                  <select class="form-control">
                            	  <option>01/04/16</option>
                            	  <option>02/04/16</option>
                            	  <option>03/04/16</option>
                            	  <option>04/04/16</option>
                            	  </select>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Mode</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" placeholder="Enter Mode">
                                </div>
                                </div>
                                </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Attachments</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" placeholder="14 Attachments">
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                            	<div class="form-group">
                                <label class="col-md-4 control-label">Tags</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" placeholder="#april #promotion">
                                </div>
                                </div>
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-md-12">
                            	<div class="form-group">
                                <div class="col-md-12 compaign-btns">
                                 <ul class="towBtnUl" style="text-align:left">
                                    <li>
                                     <a class="btn btn-success text-uppercase" href="javascript:void()">Edit Details</a>
                                     </li>
                                    </ul>
                                </div>
                                 </div>
                                  </div>
                                </div>

                    	</form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
