.LuloCleanThree-Bold { font-family: LuloCleanThree-Bold; }
.LuloCleanOne { font-family: LuloCleanOne; }
.LuloCleanOne-Bold { font-family: LuloCleanOne-Bold; }
.LuloCleanThree { font-family: LuloCleanThree; }
.LuloCleanOutline { font-family: LuloCleanOutline; }
.LuloCleanOutline-Bold { font-family: LuloCleanOutline-Bold; }
.LuloCleanFour-Bold { font-family: LuloCleanFour-Bold; }
.LuloCleanFour { font-family: LuloCleanFour; }
.LuloCleanTwo { font-family: LuloCleanTwo; }
.LuloCleanTwo-Bold { font-family: LuloCleanTwo-Bold; }
