<md-dialog aria-label="Markets"  ng-cloak class="access-modals">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Markets</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="material-icons">clear</i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" class="md-padding">
            <div class="md-padding">
                <md-checkbox ng-checked="($ctrl.allMarkets.length == $ctrl.markets.length)" ng-click="$ctrl.toggleAll()">No Restriction</md-checkbox>
            </div>
            <md-divider></md-divider>
            <div class="md-padding">
                <div layout="row" layout-wrap>
                    <div ng-repeat="item in $ctrl.allMarkets" flex="25">
                        <md-checkbox ng-checked="$ctrl.exists(item, '_id')" ng-click="$ctrl.toggle(item, '_id')">
                            {{item.name}}
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="$ctrl.confirm()" class="md-raised md-closetbox-primary">
                Confirm
            </md-button>
            <md-button ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>