<div class="left-side {{if isOpened 'opened'}}">
    <div class="left-opener" {{action 'toggleMenu'}}><i class="fa fa-ellipsis-v"></i><i class="fa fa-reorder"></i></div> 
    <ul class="left-nav">
        <li class="active"><a href="#"><img src="assets/images/dashboard.png"> <span class="nav-title">Dashboard</span></a></li>
        <li><a href="#"><img src="assets/images/inbox.png"><span class="badge">3</span> <span class="nav-title">Inbox</span></a></li>
        <li><a href="#"><img src="assets/images/feeds.png"> <span class="nav-title">Feeds</span></a></li>
        <li><a href="#"><img src="assets/images/shedule.png"> <span class="nav-title">Schedule</span></a></li>
        <li><a href="#"><img src="assets/images/tasks.png"> <span class="nav-title">Tasks</span></a></li>
        <li><a href="#"><img src="assets/images/tasks.png"> <span class="nav-title">Company</span></a></li>
        <li><a href="#"><img src="assets/images/reputation.png"> <span class="nav-title">Reputation</span></a></li>
        <li><a href="#"><img src="assets/images/team.png"> <span class="nav-title">Team</span></a></li>
        <li><a href="#"><img src="assets/images/notes.png"> <span class="nav-title">Notes</span></a></li>
        <li><a href="#"><img src="assets/images/files.png"> <span class="nav-title">Files</span></a></li>
    </ul>
</div>
