<!DOCTYPE html>
<html lang="en" ng-app="googleMap">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/de.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUmcth1DbT4-9_x7kKJ6oBMD65KC2y4_8" type="text/javascript"></script>
  <script src="main-controller.js"></script>
  <script src="map-directive.js"></script>
</head>

<body>

<!-- Page Content -->
<div class="container" ng-controller="MainController">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List of Items
        <small>Secondary Text</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-6 portfolio-item">

      <div ng-repeat="item in listA" class="alert-success" style="height:40px; border-bottom: 1px solid grey;">
       <span>{{item.category.label}}</span>
      </div>

      <div ng-repeat="item in listB" class="alert-info" style="height:40px; border-bottom: 1px solid grey;">
        <span>{{item.category.label}}</span>
      </div>
    </div>
    <!--map-->
    <div class="ol-md-6">

        <map-directive computer-container="listA" desktop-container="listB" map-options="mapOptions"></map-directive>
    </div>
   <div>
  <hr>
</div>
</div>
<!-- /.container -->
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>

</html>
