// =============================================================================
// COLOR PALETTE
// =============================================================================


// Main Colors
// -----------------------------------------------------------------------------
$primary:          #F26621;
$secondary:        #532772;
$thirdary:         #383838;
$green:            #3d8b3d;
// -----------------------------------------------------------------------------

// Hover Colors
// -----------------------------------------------------------------------------
$primary-hover:          #d76f3c;
$secondary-hover:        #532772;
// -----------------------------------------------------------------------------

// Gray scale
// -----------------------------------------------------------------------------
$black:            rgb(0, 0, 0);
$white:            rgb(255, 255, 255);
$red:              red;
$closetboxRed:     #DB524B;
$grayBg1:          #ECECEC;
$grayBg2:          rgb(245, 245, 245);
$grayColor1:            rgba(0,0,0,.12);
$grayColor2:           #A1A1A1;
// -----------------------------------------------------------------------------

// Error colors
// -----------------------------------------------------------------------------
$inputError:         rgb(221,44,0);
$inputWarning:       rgb(255, 87,34);
// -----------------------------------------------------------------------------
