.agent-modals {
    width: 700px;
    .agent-element {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

.parent-market-modals {
    .market-element {
        margin-bottom:15px;
        margin-right: 0;
    }
}