<div role="tabpanel" class="tab-pane active">
	<!-- <h3 class="model-heading text-center">Category Posts</h3> -->
	<div class="table-responsive setting-cat">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Category</th>
					<th>Channel</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> My Category</td>
					<td> <select><option>None</option><option>Cat1</option><option>Cat2</option></select></td>
				</tr>
				<tr>
					<td>Category 1</td>
					<td> <select><option>Legal GFX</option><option>Legal GFX 1</option><option>Legal GFX 2</option></select></td>
				</tr>
				<tr>
					<td>Category 2</td>
					<td> <select><option>None</option><option>Cat1</option><option>Cat2</option></select></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>