<div class="tab-content">
  <div class="tab-pane active">
     <!-- <h3 class="model-heading text-center">Add Accounts</h3> -->
     <div class="col-md-6 col-md-offset-3 col-sm-12 addaccount-page">
     	<p>Select what kind of account you would like to add</p>
     	<div class="account_box">
     		<ul class="btns text-uppercase">
     			<li>
            {{#link-to 'home.brand.socialaccounts.addsocial' class="btn btn-primary btn-block"}}
              Social
            {{/link-to}}
          </li>
     			<li><a href="home/brand/socialaccounts/addemail" class="btn btn-success btn-block">Email</a></li>
     			<li><a href="home/brand/socialaccounts/addwordpress" class="btn btn-primary-dark btn-block">Wordpress</a></li>
     			<li><a href="home/brand/socialaccounts/addreview" class="btn btn-danger btn-block">Review</a></li>
     		</ul>
     	</div>
     </div>
  </div>
</div>