<div class="main-center anMDiv newest-tsks wrps-dtls">
    <div class="wrapes-inbox">
        <p class="inbox">Campaign
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
    <div class="default-model wraper-brands">
	<div class="modelbox-body">
        <div class="">
           {{campaign-tabs isTasksTabActive=model.isTasksTabActive}}
          </div>
          <div class="right-panel compaign-chat">
              <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active">
					<h4 class="text-center">Member Tasks</h4>
                    <div class="table-responsive table-padd">
                         <table class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                              <th>Due Date</th>
                              <th>Created By</th>
                              <th>Assigned To</th>
                              <th>Status</th>
                              <th>Subject</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>03/05/2015</td>
                              <td>Dan</td>
                              <td>Sam</td>
                              <td>Overdue</td>
                              <td>New Content</td>
                            </tr>
                            <tr>
                              <td>03/05/2015</td>
                              <td>Canline</td>
                              <td>Sam</td>
                              <td>In progress</td>
                              <td>New Customers</td>
                            </tr>
                            <tr>
                              <td>03/05/2015</td>
                              <td>samanth</td>
                              <td>Sam</td>
                              <td>Complete</td>
                              <td>New Client</td>
                            </tr>
                            <tr>
                              <td>03/05/2015</td>
                              <td>Paign</td>
                              <td>Sam</td>
                              <td>Overdue</td>
                              <td>Staff Training</td>
                            </tr>
                             <tr>
                              <td>03/05/2015</td>
                              <td>Dan</td>
                              <td>Sam</td>
                              <td>In Progress</td>
                              <td>New Pictre</td>
                            </tr>
                            </tbody>
                         </table>
                       </div>
                     <div class="col-sm-12 col-md 12 col-xs-12 compaign-btns chat-buttons">
						<ul class="towBtnUl marginTop15">
						<li><a class="btn btn-success text-uppercase" href="javascript:void()">NEW TASK</a></li>
						<li><a class="btn btn-success text-uppercase" href="javascript:void()">SHOW MORE</a></li>
					   </ul>
                     </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
