<div role="tabpanel" class="tab-pane active review-channel-page">
	<!-- <h3 class="model-heading text-center">Review Channels</h3> -->
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Legal</td>
					<td><a href="#" class="text-danger">Remove</a></td>
				</tr>
				<tr>
					<td>Marketing</td>
					<td><a href="#" class="text-danger">Remove</a></td>
				</tr>
				<tr>
					<td>QA</td>
					<td><a href="#" class="text-danger">Remove</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="/home/brand/reviewflow/channels/add" class="btn btn-success text-uppercase">Add</a>
</div>