<div class="tab-content">
  	<div class="tab-pane active">
    <!-- <h3 class="model-heading text-center">Add Incoming Email account</h3> -->
     <div class="col-md-8 col-md-offset-2 col-sm-12 incomingemail-page">
	     <div class="account_box">
	     		<form class="form-horizontal">
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Type</label>
	     				<div class="col-md-8 col-sm-12">
	     					<select class="form-control">
	     						<option>IMAP</option>
	     						<option>IMAP</option>
	     						<option>IMAP</option>
	     					</select>
	     				</div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Account Name</label>
	     				<div class="col-md-8 col-sm-12"><input type="text" class="form-control"></div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Email address</label>
	     				<div class="col-md-8 col-sm-12"><input type="text" class="form-control"></div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Mail server</label>
	     				<div class="col-md-8 col-sm-12"><input type="text" class="form-control"></div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Port</label>
	     				<div class="col-md-8 col-sm-12"><input type="text" class="form-control"></div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">User Name</label>
	     				<div class="col-md-8 col-sm-12"><input type="text" class="form-control"></div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Passowrd</label>
	     				<div class="col-md-8 col-sm-12"><input type="password" class="form-control"></div>
	     			</div>
	     			<div class="form-group">
	     				<label class="control-label col-md-4 col-sm-12">Secure Mode</label>
	     				<div class="col-md-8 col-sm-12">
	     					<select class="form-control">
	     						<option>None</option>
	     						<option>None</option>
	     						<option>None</option>
	     					</select>
	     				</div>
	     			</div>
	     			<div class="form-group">
	     				<div class="col-md-12">
	     					<a href="#" class="btn btn-success text-uppercase">Save</a>
	     				</div>
	     			</div>
	     		</form>
	     	</div>
     	</div>
  	</div>
</div>