<div layout="row" id="access" layout-fill>
    <md-content class="md-whiteframe-2dp normal-padding"  flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <!-- User Tab -->
            <!----------------------------------------------------------------------------------------------------->
            <div ng-include="'templates/system/access/_user_tab.html'"></div>
            <!----------------------------------------------------------------------------------------------------->

            <!-- Customer Tab -->
            <!----------------------------------------------------------------------------------------------------->
            <div ng-include="'templates/system/access/_customer_tab.html'"></div>
            <!----------------------------------------------------------------------------------------------------->

        </md-tabs>
        <!-- tab ending -->
    </md-content>
</div>