<div class="main-center newest-tsks">
	<div class="wrapes-inbox">
        <p class="inbox"><!-- <span class="feeds-icons"><i class="fa fa-list" aria-hidden="true"></i></span> -->Feeds
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
	<div class="default-model tsk-details">
		<!-- <h4 class="header-models1">Replying to Private Message</h4> -->
	    <div class="modelbox-body sec-mods">
	        <div class="full-panel--task">
	          <!-- Tab panes -->
	          	<div class="tab-content">
	            	<div class="tab-pane active">
						<div class="wrap-reply-itm post-page">
							<h3 class="rpl-veiw-h3">Create New Reminder</h3>
							<div class="wraper-reply"> <!-- Subject & due date -->
								<div class="reply-views">
									<ul class="head-list">
									<li>
										<a href="#">
											<span class="image"><img src="assets/images/image-fb.png"></span>
											<span class="title">Replying to:</span>
											<span class="title">Contetto</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="title">Replying from:</span>
											<span class="title">Contetto</span>
										</a>
									</li>
									</ul>
									<textarea type="text" rows="10" cols="12" placeholder=""></textarea>
									<p class="btm-txt gray-text">Related dash: <br>#Mac John #Mac John<span class="pull-right"><!-- <a href="#"><img src="assets/images/setting.png"></a> -->Character Max: None</span></p>
								</div>
							</div>
							<div class="wrap-mac-set">
							<div class="entry-main">
								<div class="entry-content">
									<p class="entry-txt1"><span style="font-size:16px; text-decoration:underline; color:#36c1a4">Conversation History</span><button type="submit" class="btn btn-success  text-uppercase pull-right send-buttons">Send</button></p>
								</div>
							</div>
							</div>
							<div class="wrap-mac-set">
							<div class="entry-main">
								<div class="entry-content">
									Come to our Social Media Party! Tickets available after Friday @Contetto Join us, won't you? http://pic.twitter.com/ sWILFZFVOD
									<p class="links"><a href="#">http://pic.twitter.com/</a></p>
									<small>#contetto #socialmedia</small>
								</div>
							</div>
							<p class="para-ahr"><a class="pull-right rpl-ahr" href="#">Read more......</a></p>
							</div>
						</div>
	            	</div>
	          	</div>
	        </div>
	        <div class="clearfix"></div>
	    </div>
	</div>
</div>
