<md-dialog aria-label="Markets"  ng-cloak class="access-modals small">
    <form name="passwordForm">
        <div layout="column">
            <md-input-container>
                <label>Name</label>
                <input ng-model="$ctrl.userFullName" type="text" name="name" disabled/>
            </md-input-container>
            <md-input-container>
                <label>New Password</label>
                <input ng-model="$ctrl.userForModification.newpassword" type="{{$ctrl.passwordVisibilitySetting.inputType}}" name="newPassword" required minlength="8"/>
                <md-icon class="material-icons" ng-click="$ctrl.togglePasswordVisibility()">{{$ctrl.passwordVisibilitySetting.visibilityToggleIcon}}</md-icon>
                <div ng-messages="passwordForm.newPassword.$error" ng-show="passwordForm.newPassword.$touched && (passwordForm.newPassword.$error.minlength || passwordForm.newPassword.$error.required)">
                    <div ng-message-exp="['required', 'minlength']">
                        At least 8 or more characters.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Re-Password</label>
                <input ng-model="$ctrl.userForModification.repassword" type="{{$ctrl.confirmPasswordVisibilitySetting.inputType}}" name="rePassword" compare-to="$ctrl.userForModification.newpassword" required />
                <md-icon class="material-icons" ng-click="$ctrl.toggleConfirmPasswordVisibility()">{{$ctrl.confirmPasswordVisibilitySetting.visibilityToggleIcon}}</md-icon>
                <div ng-messages="passwordForm.rePassword.$error" ng-show="passwordForm.rePassword.$touched && (passwordForm.rePassword.$error.required || passwordForm.rePassword.$error.compareTo)">
                    <div ng-message-exp="['required', 'compareTo']">
                        Password should match
                    </div>
                </div>
            </md-input-container>
            <div>
                <md-dialog-actions layout="row">
                  <div layout="column" flex="50">
                    <md-checkbox class="md-primary" ng-model="$ctrl.shouldSendCustomerNotification" ng-change="$ctrl.this.shouldSendCustomerNotification()">
                        {{ $ctrl.notificationLabel }}
                        <md-tooltip>
                            Send email #E22
                        </md-tooltip>
                    </md-checkbox>
                  </div>
                  <div layout="column" flex="50">
                    <div layout="row" class="cb-password-actions">
                      <md-button ng-click="$ctrl.confirm()" ng-disabled="passwordForm.newPassword.$invalid || passwordForm.rePassword.$invalid" class="md-raised md-closetbox-primary">
                          Confirm
                      </md-button>
                      <md-button ng-click="$ctrl.cancel()">
                          Cancel
                      </md-button>
                    </div>
                  </div>
                </md-dialog-actions>
            </div>
        </div>
    </form>
</md-dialog>
