<div class="main-center wrps-dtls">
    <div class="row wrap-main-2">
    <div class="wrapes-inbox">
        <p class="inbox">Company
        <ul class="pull-right">
          <li><a href="#">Help</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Quick chat</a></li>
      </ul>
        </p>
    </div>
	  <div class="default-model">
	  {{outlet}}
	  </div>
  </div>
</div>
