<div class="tab-content">
  <div class="tab-pane active">
     <!-- <h3 class="model-heading text-center">Add wordpress</h3> -->
     <div class="col-md-8 col-md-offset-2 col-sm-12 addwordpress-page">
     	<p>Link your wordpress website</p>
     	<div class="account_box">
     		<form class="form-horizontal">
     			<div class="form-group">
     				<label class="control-label col-md-4 col-sm-5">Site Name</label>
     				<div class="col-md-8 col-sm-7"><input type="text" class="form-control"></div>
     			</div>
     			<div class="form-group">
     				<label class="control-label col-md-4 col-sm-5">Site URL</label>
     				<div class="col-md-8 col-sm-7"><input type="text" class="form-control"></div>
     			</div>
     			<div class="form-group">
     				<label class="control-label col-md-4 col-sm-5">API ID</label>
     				<div class="col-md-8 col-sm-7"><input type="text" class="form-control"></div>
     			</div>
     			<div class="form-group">
     				<label class="control-label col-md-4 col-sm-5">API Secret</label>
     				<div class="col-md-8 col-sm-7"><input type="text" class="form-control"></div>
     			</div>
     			<div class="form-group">
     				<div class="col-md-12">
     					<a href="#" class="btn btn-success text-uppercase">Save</a>
     					<a href="#" class="btn btn-success text-uppercase">Download Plugin</a>
     					<a href="#" class="pull-right btn-link">Setup Instruction</a>
     				</div>
     			</div>
     		</form>
     	</div>
     </div>
  </div>
</div>