<div class="row">
        <div class="col-md-3 col-sm-12 reviewfow_tabs">
          {{brand-team-tab isTeamNotesActive=model.isTeamNotesActive}}
        </div>
        
        <div class="col-md-9 col-sm-12">
         <div class="tab-content">
            <div class="tab-pane active">
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-responsive text-center">
                  <tbody>
                    <tr class="text-uppercase">
                      <th>Note By</th>
                      <th>Note Name </th>
                      <th>Date</th>
                    </tr>
                    <tr>
                      <td>JOHN S</td>
                      <td>New Customers</td>
                      <td> 03-18-16</td>
                    </tr>
                    <tr>
                      <td>JOHN S</td>
                      <td>Contetto Strategy</td>
                      <td> 03-16-16</td>
                    </tr>
                    <tr>
                      <td>JOHN S</td>
                      <td>Ideas for Gorgeous</td>
                      <td> 03-12-16</td>
                    </tr>
                    <tr>
                      <td>JOHN S</td>
                      <td>Follow up on sales</td>
                      <td> 03-16-16</td>
                    </tr>
                    <tr>
                      <td>JOHN S</td>
                      <td>Team Member accounts</td>
                      <td> 03-13-16</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="submit-btn">
                <button type="button" class="btn btn-success  text-uppercase">Show more</button>
              </div>
            </div>
          </div>
        </div>
</div>