<div class="row">
	<div class="col-md-3 col-sm-12 reviewfow_tabs">
		 {{brand-reviewflow-tab isChannelTabActive=model.isChannelTabActive}}
	</div>
	<div class="col-md-9 col-sm-12">
		<div class="tab-content">
		    {{outlet}}		    
		  </div>
	</div>
</div>




