<div layout="row" id="logistics-agent_ops" layout-fill>
    <md-content class="md-whiteframe-2dp normal-padding agent-page"  flex>
        <md-tabs md-stretch-tabs md-selected="$parentCtrl.selectedIndex">
            <md-tab>
                <md-tab-label>
                    <a>List</a>
                </md-tab-label>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <a>Calendar</a>
                </md-tab-label>
            </md-tab>
        </md-tabs>
        <ui-view />
    </md-content>
</div>
