<div class="main-center newest-tsks">
  <div class="wrapes-inbox">
        <p class="inbox"><span class="feeds-icons"><i class="fa fa-list" aria-hidden="true"></i></span>Tasks
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
	<div class="default-model tsk-details">
	    <div class="modelbox-body">
	        <div class="full-panel--task">
	          <!-- Tab panes -->
	          	<div class="tab-content">
	            	<div class="tab-pane active">
	            		<h3 class="model-heading">New Task</h3>
	            <form class="new-tss-fomrs">
                <div class="row row--bottom-space"> <!-- Subject & category -->
                 <div class="form-group">
                  <label for="subject" class="col-md-1 control-label">Subject:</label>
                  <div class="col-md-3">
                      <input type="text" class="form-control" id="subject"/>
                  </div>
                  <label for="category" class="col-md-1 control-label">Category:</label>
                  <div class="col-md-3">
                    <select id="category" class="form-control">
                        <option>Category</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                  </div>
                  <label for="dueDate" class="col-md-1 control-label">Due by: </label>
                  <div class="col-md-3">
                      <!-- <input type="text" class="form-control" id="dueDate"/> -->
                       {{#bs-datetimepicker date1=model.date format='MM/DD/YYYY'}}
                         {{input value=date1 id="dueDate" class="form-control" name="Date" placeholder="Date"}}
                       {{/bs-datetimepicker}}
                  </div>
                 </div>
                </div>
                <div class="row row--bottom-space"> <!-- Due date & tags -->
                 <div class="form-group">
                  <label for="tags" class="col-md-1 control-label">Tags:</label>
                  <div class="col-md-3">
                      <input type="text" class="form-control" id="tags"/>
                  </div>
                  <label for="assignedTo" class="col-md-1 control-label">Assigned to:</label>
                  <div class="col-md-3">
                      <input type="text" class="form-control" id="assignedTo"/>
                  </div>
                  <label for="status" class="col-md-1 control-label">Status:</label>
                  <div class="col-md-3">
                    <select id="status" class="form-control">
                            <option>Status</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                    </select>
                  </div>
                 </div>
                </div>
                <div class="row row--bottom-space"> <!-- Assigned to & status -->
                 <div class="form-group">
                  
                 </div>
                </div>
                <div class="row row--bottom-space"> <!-- Task dependencies  -->
                 <div class="form-group">
                  <label for="username" class="col-md-4 col-sm-12 control-label">Select task dependencies:</label>
                  <div class="col-md-8 col-sm-12">
                      <input type="text" class="form-control" id="taskDependencies" placeholder="Task"/>
                  </div>
                 </div>
                </div>
                <div class="row row--bottom-space"> <!-- Description  -->
                  <div class="form-group">
                  <label for="description" class="col-md-12 control-label descr">Description:</label>
                    <div class="col-md-12">
                         <textarea id="description" class="form-control desc-text" rows="3" placeholder="write here..."></textarea>
                    </div>
                  </div>
                </div>
                <div class="row"> <!-- Save  -->
                  <div class="form-group">
                    <div class="col-md-5">
                         <button type="submit" class="btn btn-success  text-uppercase new-att-color">Select attachments</button>
                    </div>
                    <div class="col-md-5">
                         <button type="submit" class="btn btn-success  text-uppercase">Create task</button>
                    </div>
                  </div>
                </div>
							</form>
	            	</div>
	          	</div>
	        </div>
	        <div class="clearfix"></div>
	    </div>
	</div>
</div>
