<div class="tab-content">
    <div class="tab-pane active">

        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-left with-btn">
            {{#link-to 'home.brand.goals.add' class='btn btn-success pull-right text-uppercase'}}New Goal{{/link-to}}
        </label>
        <div class="table-responsive goal-table">
        <table class="table table-bordered table-normal-font">
            <thead>
                <tr class="text-uppercase">
                    <th>Type</th>
                    <th>Metric</th>
                    <th>Value</th>
                    <th>Due</th>
                    <th>Status</th>
                    <th>Acion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Marketing</td>
                    <td>Clicks</td>
                    <td>1000/day</td>
                    <td>mar-4 16</td>
                    <td>On Track</td>
                    <td>
                        <a href="#">Edt</a> |
                        <a href="#">Remove </a> |
                        <a href="#">Stats </a> | <br>
                        <a href="#">Reccomendations</a>
                    </td>
                </tr>
                <tr>
                    <td>Marketing</td>
                    <td>Clicks</td>
                    <td>1000/day</td>
                    <td>mar-4 16</td>
                    <td>On Track</td>
                    <td>
                        <a href="#">Edt</a> |
                        <a href="#">Remove </a> |
                        <a href="#">Stats </a> |<br>
                        <a href="#">Reccomendations</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
