<div class="row">
        <div class="col-md-3 col-sm-12 reviewfow_tabs">
          {{brand-team-tab isTeamDeptActive=model.isTeamDeptActive}}
        </div>
        
        <div class="col-md-9 col-sm-12">
         <div class="tab-content">
            <div class="tab-pane active">
                <div class="table-responsive">
                <table class="table table-bordered table-striped table-responsive text-center">
                  <tbody>
                    <tr class="text-uppercase">
                      <th>Name</th>
                      <th>Manager </th>
                      <th>Remove</th>
                    </tr>
                    <tr>
                      <td>Legel</td>
                      <td>Sam</td>
                      <td><a href="#" class="text-primary"><u>Change Role</u></a> | 
                         <a href="#" class="text-danger"><u>Remove</u></a></td>
                    </tr>
                    <tr>
                      <td>Marketting</td>
                      <td>Peter</td>
                      <td><a href="#" class="text-primary"><u>Change Role</u></a> | <a href="#" class="text-danger"><u>Remove</u></a></td>
                    </tr>
                    <tr>
                      <td>QA</td>
                      <td>Rick</td>
                      <td><a href="#" class="text-primary"><u>Change Role</u></a> | <a href="#" class="text-danger"><u>Remove</u></a></td>
                    </tr>
                     <tr>
                      <td>Sales</td>
                      <td>Rick</td>
                      <td><a href="#" class="text-primary"><u>Change Role</u></a> | <a href="#" class="text-danger"><u>Remove</u></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="submit-btn">
                <button type="button" class="btn btn-success  text-uppercase">Add New Department</button>
              </div>
            </div>
          </div>
        </div>
</div>