<div layout="row" id="parameterDetail" layout-fill class="admin-detail">
    <md-content class="md-whiteframe-2dp normal-padding"  flex>
        <div layout="column">
            <div class="section-header">
                <div layout="row" layout-align="start center" >
                    <md-button class="md-fab md-closetbox-fab" aria-label="Back" ng-click="$ctrl.backTo()">
                        <i class="material-icons">keyboard_arrow_left</i>
                        <md-tooltip>Back</md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-closetbox-fab" aria-label="Parameter List" ng-click="$ctrl.backToList()">
                        <i class="material-icons">list</i>
                        <md-tooltip>Parameter List</md-tooltip>
                    </md-button>
                    <a aria-label="Create Parameter" ui-sref="app.admin.parameter.new" ui-sref-active="md-closetbox-primary" class="md-link">
                        <i class="material-icons">add</i>
                        Create
                    </a>
                    <a aria-label="Edit Parameter" ui-sref="app.admin.parameter.edit({id: $ctrl._id})" ui-sref-active="md-closetbox-primary" ng-if="$ctrl._id" class="md-link">
                        <i class="material-icons">create</i>
                        Edit
                    </a>
                    <md-button aria-label="Delete Parameter" class="md-raised md-closetbox-error" ng-if="$ctrl._id" ng-disabled="!$ctrl.isDeletable()" ng-click="$ctrl.deleteRecord()">
                        <i class="material-icons">delete</i>
                        Delete
                    </md-button>
                </div>
            </div>

            <div>
                <!-- Detail View -->
                <!-- --------------------------------------------------------------------------------------- -->

                <div ng-if="!$ctrl._edit" class="detail-section">
                    <div layout="row" class="data-row">
                        <span flex="30" class="input-label">Name</span>
                        <span flex="70" class="static-value">{{ ::$ctrl.data.name}}</span>
                    </div>
                    <div layout="row" class="data-row">
                        <span flex="30" class="input-label">Value</span>
                        <span flex="70" class="static-value">{{::$ctrl.data.value}}</span>
                    </div>
                    <div layout="row" class="data-row">
                        <span flex="30" class="input-label">Created Date</span>
                        <span flex="70" class="static-value">{{ ::$ctrl.data.dateCreated | date}}</span>
                    </div>
                    <div layout="row" class="data-row">
                        <span flex="30" class="input-label">Last Updated</span>
                        <span flex="70" class="static-value">{{::$ctrl.data.lastUpdated | date}}</span>
                    </div>
                </div>
                <!-- End of Detail View -->
                <!-- --------------------------------------------------------------------------------------- -->

                <!-- Form -->
                <!-- --------------------------------------------------------------------------------------- -->
                <form ng-if="$ctrl._edit" class="md-padding edit-section" name="$ctrl.parameterForm">
                    <div layout="column">
                        <div>
                            <div layout="column">
                                <md-input-container>
                                    <label>Name</label>
                                    <input name="name" ng-model="$ctrl.data.name" required aria-label="Name" ng-minlength="2" ng-change="$ctrl.checkDuplication()" ng-model-options="{debounce: 1000}" />
                                    <div ng-messages="$ctrl.parameterForm.name.$error" ng-show="$ctrl.parameterForm.name.$touched && $ctrl.parameterForm.name.$error.server">
                                        <div ng-message-exp="['server']">
                                            The name is invalid, it already exists.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Value</label>
                                    <input ng-model="$ctrl.data.value" required aria-label="Value" type="number" step="0.01" />
                                </md-input-container>
                            </div>
                        </div>
                        <div>
                            <div layout="row" layout-align="end center">
                                <md-button aria-label="Save Information" class="md-raised md-closetbox-primary" ng-click="$ctrl.saveData()">Save</md-button>
                                <md-button aria-label="Cancel" class="md-raised md-primary" ng-click="$ctrl.cancelEdit()">Cancel</md-button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End of Form -->
                <!-- --------------------------------------------------------------------------------------- -->
            </div>
        </div>
    </md-content>
</div>
