/*.header{ background:#fff;}
.header .logo{ display:inline-block; margin:11px 0 0;}*/
.right_header{ color:#2e2e2e;}
.right_header .user_sec{ display:inline-block; vertical-align:middle; font-size:16px; color:#2e2e2e; line-height:20px; padding:20px 32px; background:#e9ecf3;}
.right_header .user_sec img{ vertical-align:middle; margin:0 0 0 10px;}
.right_header .user_sec span{ color:#1abc9c; font-family: 'AvenirNext LT Pro';}
.right_header .links{ display:inline-block; vertical-align:middle; margin:0 0 0 8px;}
.right_header .links li{ float:left; padding:0 34px; font-size:16px; line-height:28px; border-right:1px solid #cbcbcb;}
.right_header .links li:last-child{ padding-right:0; border:none}
.right_header .links li a{ color:#2e2e2e;}
.right_header .links li.logout a{ color:#e7505a;}