
.clear{
	margin-top: 10px;
}
.default-model .modelbox-body .right-panel1 {
    /* max-width: 450px; */
    float: left;
    padding: 15px;
}
.btn-default1 {
    color: #333;
}
.btn1{
	font-size: 14px !important;
}
.goal{
	width: 25%;
}
.left-panel1{
  padding: 15px;	
}
.pre_block{
	font-size: 15px;
	padding: 8.0px;
}
.warning_bdg .badge{
	/*position: absolute;*/
    top: 6px;
    left: 25px;
}
.pos{
	background: #329F79;
	padding: 2px 10px 2px 10px;
	color: #ffffff;
}

.ckeditor-main{ float: left; margin-top: 15px; }
.date-picker-editor{ float: right; }
@media only screen and (max-width: 1200px) {

	.main-left ,.main-right,.main-center,.main-center .default-model1{width: 100%;}
	
	.date-picker-editor{ padding: 0;}
	.date-picker-editor .pull-right{ float: left !important; padding: 0; }
	.ckeditor-main ,.default-model .modelbox-body .right-panel1{width: 100%;}

	.main-center .default-model1 { max-width: 100%;}
}

@media screen and (max-device-width: 640px){
	.main-center .default-model1 {}
	.date-picker-editor{ float: left;width: 100%;padding: 0;}
	.date-picker-editor .pull-right{ float: left !important; padding: 0; margin-top: 15px; }
  
}

.homepost-page{ padding-bottom: 15px;}

.post-space{ margin-bottom: 15px;}
.post_datedescription h4{ font-size: 16px; line-height: 20px; margin: 20px 0 10px;}
.post_datedescription a{ display: inline-block; font-size: 13px; line-height: 18px;}
.post_datedescription a i{ background: #3D5EAD; float: left; color: #fff; padding: 5px 10px; border-radius: 5px; font-size: 20px; margin: 0 5px 0 0;}
.post_datedescription button{ display: inline-block; vertical-align: top; margin: 10px 0 12px;}

.form-group.post-date input[type="text"]{background: #fff url("../../../assets/images/c.jpg") no-repeat right center;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
color: #555;
display: block;
font-size: 14px;
height: 34px;
line-height: 1.42857;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
width: 100%; cursor: pointer;}
