<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Granada - Premium Bootstrap eCommerce Template</title>
        <meta name="description" content="Granada is a premium, responsive and bootstrap based ecommerce template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        
        <!-- Favicon and Apple Icons -->
        <link rel="icon" type="image/png" href="images/icons/icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">

        <!--- jQuery -->
        <script src="js/jquery-2.1.1.min.js"></script>
        
    </head>
    <body>
    <div id="wrapper">

        <div id="sticky-header" class="fullwidth-menu header1" data-fixed="fixed"></div><!-- End #sticky-header -->
        <header id="header" class="fullwidth-menu header1">
            <div class="container" data-clone="sticky">
                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <div class="logo-container">
                            <h1 class="logo clearfix">
                                <a href="index.html" title="Granada - Premium Bootstrap eCommerce Template"> Granada</a>
                            </h1>
                        </div><!-- End .logo-container-->
                         
                        <div class="right-side clearfix">
                            <div class="search-container">
                                <form action="#" class="search-form">
                                    <input type="search" name="s" class="s" placeholder="Search entry site here...">
                                    <a href="#" title="Close Search" class="search-close-btn"></a>
                                    <input type="submit" value="Submit" class="search-submit-btn">  
                                </form>
                            </div><!-- End .search-container -->

                            <div class="right-side-wrapper">
                                <a href="#" class="header-search-btn" title="Search"></a>
                            
                                <div class="user-dropdown dropdown">
                                    <a title="My Account" class="dropdown-toggle" data-toggle="dropdown"> <span class="dropdown-icon"></span> <span class="dropdown-text">User</span></a>

                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="#">Currency<span class="dropdown-value">USd</span></a>
                                            <ul>
                                                <li><a href="#">Usd Dollar</a></li>
                                                <li><a href="#">Euro</a></li>
                                                <li><a href="#">Pound St.</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Language<span class="dropdown-value">Eng</span></a>
                                            <ul>
                                                <li><a href="#">English<img src="images/flags/england.jpg" alt="England"></a></li>
                                                <li><a href="#">Spanish<img src="images/flags/spain.jpg" alt="England"></a></li>
                                                <li><a href="#">French<img src="images/flags/france.jpg" alt="England"></a></li>
                                                <li><a href="#">German<img src="images/flags/germany.jpg" alt="England"></a></li>
                                                <li><a href="#">Italian<img src="images/flags/italy.jpg" alt="England"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!-- End .user-dropdown -->

                                <div class="cart-dropdown dropdown pull-right">
                                    <a title="Shopping Cart" class="dropdown-toggle" data-toggle="dropdown"><span class="dropdown-icon"></span> <span class="badge">2</span><span class="dropdown-text">Shopping Cart</span></a>

                                    <div class="dropdown-menu">
                                        <p class="cart-desc">2 item(s) in your cart - $658.00</p>

                                        <div class="product clearfix">
                                            <a href="#" class="delete-btn" title="Delete Product"></a>
                                            <figure class="product-image-container">
                                                <a href="product.html" title="Mustard yellow ruffle dress">
                                                    <img src="images/products/product9.jpg" alt="Product image" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-content">
                                                <h3 class="product-name"><a href="product.html" title="Mustard yellow ruffle dress">Mustard yellow ruffle dress</a></h3>
                                                <div class="product-price-container">
                                                    <span class="product-price">$478.00</span>
                                                </div><!-- End .product-price-container -->
                                            </div><!-- End .product-content -->

                                        </div><!-- End .product -->

                                        <div class="product clearfix">
                                            <a href="#" class="delete-btn" title="Delete Product"></a>
                                            <figure class="product-image-container">
                                                <a href="product.html" title="Navy Blue Silk Pleated Shift Dress">
                                                    <img src="images/products/product2.jpg" alt="Product image" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-content">
                                                <h3 class="product-name"><a href="product.html" title="Navy Blue Silk Pleated Shift Dress">Navy Blue Silk Pleated Shift Dress</a></h3>
                                                <div class="product-price-container">
                                                    <span class="product-old-price">$250.00</span>
                                                    <span class="product-price">$180.00</span>
                                                </div><!-- End .product-price-container -->
                                            </div><!-- End .product-content -->
                                        </div><!-- End .product -->

                                        <div class="clearfix">
                                            <ul class="pull-left action-info-container">
                                                <li>Shipping: <span class="first-color">$7.00</span></li>
                                                <li>Tax: <span class="text-lowercase">free</span></li>
                                                <li>Total: <span class="first-color">$665.00</span></li>
                                            </ul>
                                            <ul class="pull-right action-btn-container">
                                                <li><a href="cart.html" class="btn btn-custom-5">Cart</a></li>
                                                <li><a href="cart.html" class="btn btn-custom">Checkout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- End .cart-dropdown -->
                            </div><!-- End .right-side-wrapper -->

                            <nav id="main-nav">
                                <div id="responsive-nav">
                                    <a id="responsive-btn" href="#">
                                        <span class="responsive-btn-icon">
                                            <span class="responsive-btn-block"></span>
                                            <span class="responsive-btn-block"></span>
                                            <span class="responsive-btn-block last"></span>
                                        </span>
                                        <span class="responsive-btn-text">Menu</span>
                                    </a><!-- responsive-nav-button -->
                                    <div id="responsive-menu-container">
                                        
                                    </div><!-- End #responsive-menu-container -->
                                </div><!-- End .responsive-nav -->
                                
                                <ul class="menu clearfix">
                                    <li><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index2.html">Home 2</a></li>
                                            <li><a href="index3.html">Home 3</a></li>
                                            <li><a href="index4.html">Home 4</a></li>
                                            <li><a href="index5.html">Home 5</a></li>
                                            <li><a href="index6.html">Home 6</a></li>
                                            <li><a href="index7.html">Home 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="megamenu-container"><a href="#">Pages</a>
                                        <div class="megamenu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">Shop</a>
                                                        <ul>
                                                            <li><a href="category.html">Category</a></li>
                                                            <li><a href="category-list.html">Category List</a></li>
                                                            <li><a href="category-banner-slider.html">Slider Banner</a></li>
                                                            <li><a href="product.html">Product</a></li>
                                                            <li><a href="product2.html">Product 2</a></li>
                                                            <li><a href="product3.html">Product 3</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">Shop</a>
                                                        <ul>
                                                            <li><a href="cart.html">Shopping Cart</a></li>
                                                            <li><a href="compare.html">Compare Products</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="register.html">Register Page</a></li>
                                                            <li><a href="login.html">Login Page</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">About</a>
                                                        <ul>
                                                            <li><a href="aboutus.html">About Us</a></li>
                                                            <li><a href="aboutus2.html">About Us 2</a></li>
                                                            <li><a href="contact.html">Contact Us</a></li>
                                                            <li><a href="contact-two.html">Contact Us 2</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">Extra</a>
                                                        <ul>
                                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                                            <li><a href="coming-soon2.html">Coming Soon 2</a></li>
                                                            <li><a href="404.html">404 Page</a></li>
                                                            <li><a href="404-two.html">404 Page 2</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->

                                                    <div class="col-md-4 menu-banner">
                                                        <a href="#" class="banner text-left">
                                                            <img src="images/banners/megamenu-banner.jpg" alt="Banner">
                                                            <div class="banner-container text-center text-uppercase">
                                                                <h5>Stylish</h5>
                                                                <h4>Men Suits</h4>
                                                                <h5>starting at <span>$150</span></h5>
                                                            </div><!-- End .banner-container -->
                                                        </a><!-- End .banner -->
                                                    </div><!-- End .col-md-4 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .container -->
                                        </div><!-- End.megamenu -->
                                    </li>
                                    <li class="megamenu-container"><a href="#">Features</a>
                                        <div class="megamenu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Portfolio</a>
                                                        <ul>
                                                            <li><a href="portfolio-4.html">Classic Column 4</a></li>
                                                            <li><a href="portfolio-3.html">Classic Column 3</a></li>
                                                            <li><a href="portfolio-2.html">Classic Column 2</a></li>
                                                            <li><a href="portfolio-masonry-4.html">Masonry Column 4</a></li>
                                                            <li><a href="portfolio-masonry-3.html">Masonry Column 3</a></li>
                                                            <li><a href="portfolio-masonry-2.html">Masonry Column 2</a></li>
                                                            
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Portfolio</a>
                                                        <ul>
                                                            <li><a href="portfolio-grid.html">Grid Style</a></li>
                                                            <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                                            <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                                                            
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Elements</a>
                                                        <ul>
                                                            <li><a href="typography.html">Typography</a></li>
                                                            <li><a href="tabs.html">Tabs</a></li>
                                                            <li><a href="collapses.html">Collapses</a></li>
                                                            <li><a href="forms.html">Form Elements</a></li>
                                                            <li><a href="buttons.html">Buttons</a></li>
                                                            <li><a href="grids.html">Grid System</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Elements</a>
                                                        <ul>
                                                            <li><a href="media.html">Media</a></li>
                                                            <li><a href="icons.html">Icons</a></li>
                                                            <li><a href="animations.html">Animations</a></li>
                                                            <li><a href="more.html">More</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->

                                                    <div class="col-md-4 menu-banner">
                                                        <a href="#" class="banner text-left">
                                                            <img src="images/banners/megamenu-banner2.jpg" alt="Banner">
                                                            <div class="banner-container text-center text-uppercase">
                                                                <h5>Stylish</h5>
                                                                <h4>Women Suits</h4>
                                                                <h5>starting at <span>$220</span></h5>
                                                            </div><!-- End .banner-container -->
                                                        </a><!-- End .banner -->
                                                    </div><!-- End .col-md-4 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .container -->
                                        </div><!-- End.megamenu -->
                                    </li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Right Sidebar</a></li>
                                            <li><a href="blog-sidebar-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-sidebar-both.html">Both Sidebar</a></li>
                                            <li><a href="blog-fullwidth.html">Fullwidth Blog</a></li>
                                            <li><a href="single.html">Post Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a>
                                        <ul>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="contact-two.html">Contact Us 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav><!-- End #main-nav -->   
                        </div><!-- End .right-side -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </header><!-- End #header -->

        <section id="content" role="main">
            <div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="breadcrumb">
                                <li><a href="index.html" title="Home">Home</a></li>
                                <li><a href="blog.html" title="Blog">Classic</a></li>
                                <li class="active">Blog</li>
                            </ul>
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .breadcrumb-container -->

            <div class="container">
                <div class="row">

                    <div class="col-md-9 col-sm-8 padding-right-lg">
                        
                        <article class="article">
                            <div id="post-id-20" class="article-media-container carousel slide" data-ride="carousel" data-interval="6000">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="single.html"><img src="images/blog/post1.jpg" class="img-responsive" alt="Slider 1"></a>
                                    </div><!-- End .item -->

                                    <div class="item">
                                        <a href="single.html"><img src="images/blog/post2.jpg" class="img-responsive" alt="Slider 2"></a>
                                    </div><!-- End .item -->

                                    <div class="item">
                                        <a href="single.html"><img src="images/blog/post3.jpg" class="img-responsive" alt="Slider 3"></a>
                                    </div><!-- End .item -->
                                </div><!-- End .carousel-inner -->

                                <!-- Controls -->
                                <a class="left carousel-control" href="#post-id-20" role="button" data-slide="prev">Prev</a>
                                <a class="right carousel-control" href="#post-id-20" role="button" data-slide="next">Next</a>
                            </div><!-- End .article-media-container -->

                            <div class="article-meta-box">
                                <span class="article-icon article-date-icon"></span>
                                <span class="meta-box-text">05 Nov</span>
                            </div><!-- End .article-meta-box -->
                            <div class="article-meta-box article-meta-comments">
                                <span class="article-icon article-comment-icon"></span>
                                <a href="#" class="meta-box-text">15 Com</a>
                            </div><!-- End .article-meta-box -->

                            <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                            <p>Vivamus mollis varius metus in egestas. Vestibulum blandit auctor dolor. Praesent iaculis ultrices accumsan. Integer sollicitu din consectetur lectus, vitae vulputate velit pharetra sed. Nullam imperdiet nibh ut nulla placerat pellentesque. Curabitur ante sit amet pellentesque feugiat. Nam vel nisl eget purus convallis vulputate.</p>

                            <div class="article-meta-container clearfix">
                                <a href="single.html" class="readmore" role="button">Read More</a>
                                <div class="article-meta-wrapper">
                                    <span class="article-meta">By <a href="#" title="Admin">Admin</a></span>
                                    <span class="article-meta"><a href="#" title="Fashion">Fashion</a></span>
                                    <span class="article-meta">139 Views</span>

                                </div><!-- End .article-meta-wrapper -->
                            </div><!-- End .artcile-meta-container -->
                        </article><!-- End .article -->

                        <article class="article">
                            <div class="article-media-container embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/11927571?color=ffffff" width="500" height="281" allowfullscreen></iframe>
                            </div><!-- End .article-media-container -->

                            <div class="article-meta-box">
                                <span class="article-icon article-date-icon"></span>
                                <span class="meta-box-text">15 Dec</span>
                            </div><!-- End .article-meta-box -->
                            <div class="article-meta-box article-meta-comments">
                                <span class="article-icon article-comment-icon"></span>
                                <a href="#" class="meta-box-text">20 Com</a>
                            </div><!-- End .article-meta-box -->

                            <h2><a href="single.html">Suspendisse interdum dignissim</a></h2>
                            <p>Fusce a volutpat risus. Aenean sollicitudin felis justo, nec luctus nisi facilisis id. Nullam vehicula ipsum accumsan ante aliquam rutrum. Maecenas sodales, eros vel condimentum euismod, lectus risus lacinia sem, eu tristique turpis eros at leo. Vestibulum orci ipsum, molestie vitae dignissim a, sodales eu libero. Mauris condimentum ante turpis. </p>

                            <div class="article-meta-container clearfix">
                                <a href="single.html" class="readmore" role="button">Read More</a>
                                <div class="article-meta-wrapper">
                                    <span class="article-meta">By <a href="#" title="Admin">Grace</a></span>
                                    <span class="article-meta"><a href="#" title="Designers">Designers</a></span>
                                    <span class="article-meta">121 Views</span>

                                </div><!-- End .article-meta-wrapper -->
                            </div><!-- End .artcile-meta-container -->
                        </article><!-- End .article -->

                        <article class="article">
                            <div class="article-media-container">
                                <a href="single.html"><img src="images/blog/post2.jpg" class="img-responsive" alt="Post 2"></a>
                            </div><!-- End .article-media-container -->

                            <div class="article-meta-box">
                                <span class="article-icon article-date-icon"></span>
                                <span class="meta-box-text">09 Apr</span>
                            </div><!-- End .article-meta-box -->
                            <div class="article-meta-box article-meta-comments">
                                <span class="article-icon article-comment-icon"></span>
                                <a href="#" class="meta-box-text">31 Com</a>
                            </div><!-- End .article-meta-box -->

                            <h2><a href="single.html">Maecenas amet venenatis pellentesque</a></h2>
                            <p>Nullam quis lobortis augue. Morbi lobortis dui eget congue tempor. Proin vitae augue augue. Sed semrisus, posuere eget dictum tincidunt, laoreet nec libero. Quisque dictum felis vel orci lacinia iaculis. Suspendisse diam nunc, interdum nec suscipit sit amet, vulputate tincidunt massa. Nam a congue eros, a molestie nisi. Nam est augue, auctor nec consequat vitae.</p>

                            <div class="article-meta-container clearfix">
                                <a href="single.html" class="readmore" role="button">Read More</a>
                                <div class="article-meta-wrapper">
                                    <span class="article-meta">By <a href="#" title="Admin">Grace</a></span>
                                    <span class="article-meta"><a href="#" title="Photography">Photography</a></span>
                                    <span class="article-meta">86 Views</span>

                                </div><!-- End .article-meta-wrapper -->
                            </div><!-- End .artcile-meta-container -->
                        </article><!-- End .article -->

                        <article class="article">
                            <div id="post-id-80" class="article-media-container carousel slide" data-ride="carousel" data-interval="8800">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="single.html"><img src="images/blog/post4.jpg" class="img-responsive" alt="Slider 4"></a>
                                    </div><!-- End .item -->

                                    <div class="item">
                                        <a href="single.html"><img src="images/blog/post5.jpg" class="img-responsive" alt="Slider 5"></a>
                                    </div><!-- End .item -->
                                </div><!-- End .carousel-inner -->

                                <!-- Controls -->
                                <a class="left carousel-control" href="#post-id-80" role="button" data-slide="prev">Prev</a>
                                <a class="right carousel-control" href="#post-id-80" role="button" data-slide="next">Next</a>
                            </div><!-- End .article-media-container -->

                            <div class="article-meta-box">
                                <span class="article-icon article-date-icon"></span>
                                <span class="meta-box-text">11 May</span>
                            </div><!-- End .article-meta-box -->
                            <div class="article-meta-box article-meta-comments">
                                <span class="article-icon article-comment-icon"></span>
                                <a href="#" class="meta-box-text">120 Com</a>
                            </div><!-- End .article-meta-box -->

                            <h2><a href="single.html">Praesent pretium gravida neque</a></h2>
                            <p>Quisque dictum felis vel orci lacinia iaculis. Suspendisse diam nunc, interdum nec suscipit sit amet, vulputate tincidunt massa. Nam a congue eros, a molestie nisi. Nam est augue, auctor nec consequat vitae, imperdiet quis eros. Cras ut cursus diam. Nam convallis, ante ut convallis vulputate, orci mauris lacinia lorem, aliquam convallis turpis magna.</p>

                            <div class="article-meta-container clearfix">
                                <a href="single.html" class="readmore" role="button">Read More</a>
                                <div class="article-meta-wrapper">
                                    <span class="article-meta">By <a href="#" title="Admin">Rafael</a></span>
                                    <span class="article-meta"><a href="#" title="Photography">Photography</a></span>
                                    <span class="article-meta">139 Views</span>

                                </div><!-- End .article-meta-wrapper -->
                            </div><!-- End .artcile-meta-container -->
                        </article><!-- End .article -->

                        <article class="article last">
                            <div class="article-media-container embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/ANu_zyV2Cbs?list=PLXWu0OP8--WT6GVb_oeeBFO9U7dAuUAL-"  allowfullscreen></iframe>
                            </div><!-- End .article-media-container -->

                            <div class="article-meta-box">
                                <span class="article-icon article-date-icon"></span>
                                <span class="meta-box-text">15 Dec</span>
                            </div><!-- End .article-meta-box -->
                            <div class="article-meta-box article-meta-comments">
                                <span class="article-icon article-comment-icon"></span>
                                <a href="#" class="meta-box-text">20 Com</a>
                            </div><!-- End .article-meta-box -->

                            <h2><a href="single.html">Suspendisse interdum dignissim</a></h2>
                            <p>Fusce a volutpat risus. Aenean sollicitudin felis justo, nec luctus nisi facilisis id. Nullam vehicula ipsum accumsan ante aliquam rutrum. Maecenas sodales, eros vel condimentum euismod, lectus risus lacinia sem, eu tristique turpis eros at leo. Vestibulum orci ipsum, molestie vitae dignissim a, sodales eu libero. Mauris condimentum ante turpis. </p>

                            <div class="article-meta-container clearfix">
                                <a href="single.html" class="readmore" role="button">Read More</a>
                                <div class="article-meta-wrapper">
                                    <span class="article-meta">By <a href="#" title="Admin">Grace</a></span>
                                    <span class="article-meta"><a href="#" title="Fashion">Fashion</a></span>
                                    <span class="article-meta">121 Views</span>

                                </div><!-- End .article-meta-wrapper -->
                            </div><!-- End .artcile-meta-container -->
                        </article><!-- End .article -->

                        <div class="pagination-container clearfix">
                            <span class="pagination-info">
                                Items 1 to 5 of 20 total
                            </span><!-- End.pagination-info -->
                            <ul class="pagination pull-right">
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a class="next-page" href="#">Next</a></li>
                            </ul>
                        </div><!-- End pagination-container -->
                         <div class="md-margin2x visible-sm visible-xs"></div><!-- space -->
                    </div><!-- End .col-md-9 -->

                    <aside class="col-md-3 col-sm-4 sidebar margin-top-up" role="complementary">
                        <div class="widget">
                            <h3>Categories</h3>

                            <ul id="category-widget">
                                <li class="open"><a href="#">Fashion <span class="category-widget-btn"></span></a>
                                    <ul>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">sportswear</a></li>
                                        <li><a href="#">Maternety</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Beauty <span class="category-widget-btn"></span></a>
                                    <ul>
                                        <li><a href="#">Make-up</a></li>
                                        <li><a href="#">Style</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Skirts</a></li>
                                        <li><a href="#">Shoes</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Designers <span class="category-widget-btn"></span></a>
                                    <ul>
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Belts</a></li>
                                        <li><a href="#">Make-up</a></li>
                                        <li><a href="#">Shoes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- End .widget -->

                        <div class="widget">
                            <h3>Latest Posts</h3>

                            <div class="owl-carousel latest-posts-slider">
                                <div class="article-list">
                                    <article class="article">
                                        <div class="article-media-container">
                                            <a href="single.html"><img src="images/blog/post1.jpg" alt="post1"></a>
                                        </div><!-- End .article-media-container -->
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">05 Now</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Lorem ipsum dolor sit amet</a>
                                        </h4>
                                        <p>Vivamus mollis varius metus in egestas. Vestibulum blandit auctor dolor.</p>

                                        <a href="single.html" class="readmore" role="button">Read More</a>

                                    </article>
                                    <article class="article">
                                        <div class="article-media-container">
                                            <a href="single.html"><img src="images/blog/post2.jpg" alt="post2"></a>
                                        </div><!-- End .article-media-container -->
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">21 Feb</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Donec ac augue odio</a>
                                        </h4>
                                        <p>Cras condimentum nibh eros. Aenean fermentum, lacus at molestie.</p>

                                        <a href="single.html" class="readmore" role="button">Read More</a>

                                    </article>
                                </div><!-- End .article-list -->
                                <div class="article-list">
                                    <article class="article">
                                        <div class="article-media-container">
                                            <a href="single.html"><img src="images/blog/post4.jpg" alt="post4"></a>
                                        </div><!-- End .article-media-container -->
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">15 Aug</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Suspendisse interdum dignissim</a>
                                        </h4>
                                        <p>Aenean sollicitudin felis justo, nec luctus nisi facilisis id. Nullam vehicula ipsum.</p>

                                        <a href="single.html" class="readmore" role="button">Read More</a>

                                    </article>
                                    <article class="article">
                                        <div class="article-media-container">
                                            <a href="single.html"><img src="images/blog/post3.jpg" alt="post3"></a>
                                        </div><!-- End .article-media-container -->
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">10 Now</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Maecenas amet venenatis</a>
                                        </h4>
                                        <p>Quisque dictum felis orci lacinia iaculis. Suspendisse diam, interdum.</p>

                                        <a href="single.html" class="readmore" role="button">Read More</a>

                                    </article>
                                </div><!-- End .article-list -->
                            </div><!-- End .owl-carousel -->
                            
                        </div><!-- End .widget -->

                        <div class="widget">
                            <h3>Comments</h3>

                            <div class="owl-carousel comments-slider">
                                <div class="comment-list">
                                    <div class="comment">
                                        <figure class="comment-media-container">
                                            <img src="images/user/user.jpg" alt="User">
                                        </figure><!-- End .comment-media-container -->
                                        <div class="comment-meta">
                                            <h4><a href="#">Rafael Green</a></h4>
                                            <span class="comment-date">March 22, 2014</span>
                                            <p>Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam mole ...</p>
                                        </div><!-- End .comment-meta -->
                                    </div><!-- End .comment -->

                                    <div class="comment">
                                        <figure class="comment-media-container">
                                            <img src="images/user/grace.jpg" alt="Grace">
                                        </figure><!-- End .comment-media-container -->
                                        <div class="comment-meta">
                                            <h4><a href="#">Grace Hudson</a></h4>
                                            <span class="comment-date">March 22, 2014</span>
                                            <p>Donec rutrum faucibus risu sit amet scelerisque lectus luctus ac. Nunc in nunc mollis, bibendum ...</p>
                                        </div><!-- End .comment-meta -->
                                    </div><!-- End .comment -->
                                </div><!-- End .comment-list -->

                                <div class="comment-list">
                                    <div class="comment">
                                        <figure class="comment-media-container">
                                            <img src="images/user/user.jpg" alt="User">
                                        </figure><!-- End .comment-media-container -->
                                        <div class="comment-meta">
                                            <h4><a href="#">Michael Smile</a></h4>
                                            <span class="comment-date">June 03, 2014</span>
                                            <p>Ullam vehicula ipsum accumsan ante aliquam rutrum. Maecenas sodales, eros vel condimentum euis...</p>
                                        </div><!-- End .comment-meta -->
                                    </div><!-- End .comment -->

                                    <div class="comment">
                                        <figure class="comment-media-container">
                                            <img src="images/user/user.jpg" alt="User">
                                        </figure><!-- End .comment-media-container -->
                                        <div class="comment-meta">
                                            <h4><a href="#">John Hudson</a></h4>
                                            <span class="comment-date">August 17, 2014</span>
                                            <p>vulputate tincidunt massa. Nam a congue eros, moles tie nisi. Nam est augue, auctor...</p>
                                        </div><!-- End .comment-meta -->
                                    </div><!-- End .comment -->
                                </div><!-- End .comment-list -->

                            </div><!-- End .owl-carousel -->
                        </div><!-- End .widget -->

                        <div class="widget">
                            <h3>TagCloud</h3>
                            <div class="tagcloud">
                                <a href="#" title="12 Post(s)">Photography</a>
                                <a href="#" title="8 Post(s)">Dresses</a>
                                <a href="#" title="4 Post(s)">Fashion</a>
                                <a href="#" title="2 Post(s)">Clothing</a>
                                <a href="#" title="22 Post(s)">Color</a>
                                <a href="#" title="5 Post(s)">Collection</a>
                                <a href="#" title="13 Post(s)">Beauty</a>
                                <a href="#" title="20 Post(s)">Make-Up</a>
                                <a href="#" title="13 Post(s)">Accessories</a>
                                <a href="#" title="13 Post(s)">Design</a>
                                <a href="#" title="13 Post(s)">Trends</a>
                                <a href="#" title="13 Post(s)">Shoes</a>
                            </div><!-- End .tagcloud -->
                        </div><!-- End .widget -->

                        <div class="widget">
                            <h3>Latest Video</h3>

                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/6vsEYCZO4Z0" allowfullscreen></iframe>

                            </div><!-- End .embed-responsive -->

                        </div><!-- End .widget -->

                         <div class="xs-margin"></div><!-- space -->

                        <div class="widget">
                            <h3>Popular Posts</h3>

                            
                            <div class="owl-carousel popular-posts-slider">
                                <div class="article-list">
                                    <article class="article">
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">05 Dec</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Amet lorem posuere pulvinar pelente.</a>
                                        </h4>
                                    </article>
                                    <article class="article">
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">12 Now</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Pellentesque urna vehicula  maleda.</a>
                                        </h4>
                                    </article>
                                    <article class="article">
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">27 Mar</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Curabitur id sed quam viverra.</a>
                                        </h4>
                                    </article>
                                </div><!-- End .article-list -->

                                <div class="article-list">
                                    <article class="article">
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">23 Dec</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Pellentesque urna vehicula  maleda.</a>
                                        </h4>
                                    </article>
                                    <article class="article">
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">08 Jan</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Aenean sollicitudin felis justo, nec.</a>
                                        </h4>
                                    </article>
                                    <article class="article">
                                        <div class="article-meta-box">
                                            <span class="article-icon article-date-icon"></span>
                                            <span class="meta-box-text">20 Feb</span>
                                        </div><!-- End .article-meta-box -->
                                        <h4>
                                            <a href="single.html">Vestibulum orci ipsum, molestie vitae.</a>
                                        </h4>
                                    </article>
                                </div><!-- End .article-list -->
                                
                            </div><!-- End .owl-carousel -->
                            
                        </div><!-- End .widget -->

                        <div class="widget">
                            <h3>Flickr Stream</h3>
                            <ul class="flickr-widget clearfix"></ul>
                        </div><!-- End .widget -->
                    </aside><!-- End .sidebar -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="lg-margin2x"></div><!-- space -->

        </section><!-- End #content -->
    
        <footer id="footer" class="footer2">
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 widget">
                            <h4 class="border-bottom">My Account</h4>
                            <ul class="links">
                                <li><a href="#" title="My account">My account</a></li>
                                <li><a href="#" title="Personal information">Personal information</a></li>
                                <li><a href="#" title="Addresses">Addresses</a></li>
                                <li><a href="#" title="Discount">Discount</a></li>
                                <li><a href="#" title="Orders history">Orders history</a></li>
                                <li><a href="#" title="Your vouchers">Your vouchers</a></li>
                                <li><a href="#" title="Safe shopping">Safe shopping</a></li>
                                <li><a href="#" title="Size guides">Size guides</a></li>
                            </ul>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4 widget">
                            <h4 class="border-bottom">Customer Service</h4>
                            <ul class="links">
                                <li><a href="#" title="Help &amp; Contact">Help &amp; contact</a></li>
                                <li><a href="#" title="Shipping &amp; taxes">Shipping &amp; taxes</a></li>
                                <li><a href="#" title="Return policy">Return policy</a></li>
                                <li><a href="#" title="Careers">Careers</a></li>
                                <li><a href="#" title="Affiliates">Affiliates</a></li>
                                <li><a href="#" title="Legal Notice">Legal Notice</a></li>
                                <li><a href="#" title="Privacy &amp; Security">Privacy &amp; Security</a></li>
                                <li><a href="#" title="Sitemap">Sitemap</a></li>
                            </ul>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4 widget">
                            <h4 class="border-bottom">From Twitter</h4>
                            <ul class="twitter-widget"></ul>
                        </div><!-- End .col-sm-4 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-inner -->
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="footer-bottom" class="clearfix">
                            <p class="copyright-text">&copy; 2014 Powered by WooCommerce&trade;. All Rights Reserved.</p>

                            <ul class="social-links color2 clearfix">
                                <li><a href="#" class="social-icon icon-facebook" title="Facebook"></a></li>
                                <li><a href="#" class="social-icon icon-twitter" title="Twitter"></a></li>
                                <li><a href="#" class="social-icon icon-rss" title="Rss Feed"></a></li>
                                <li><a href="#" class="social-icon icon-delicious" title="Delicious"></a></li>
                                <li><a href="#" class="social-icon icon-linkedin" title="Linkedin"></a></li>
                                <li><a href="#" class="social-icon icon-flickr" title="Flickr"></a></li>
                                <li><a href="#" class="social-icon icon-skype" title="Skype"></a></li>
                                <li><a href="#" class="social-icon icon-email" title="Email"></a></li>
                            </ul>
                        </div><!-- End #footer-bottom -->
                        
                    </div><!-- End .col-xs-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </footer><!-- End #footer -->
    </div><!-- End #wrapper -->

    <!-- scroltop -->
    <a href="#header" id="scroll-top" title="Go to top">Top</a>

	<!-- END -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/waypoints-sticky.js"></script>
	<script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>