<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Granada - Premium Bootstrap eCommerce Template</title>
        <meta name="description" content="Granada is a premium, responsive and bootstrap based ecommerce template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        
        <!-- Favicon and Apple Icons -->
        <link rel="icon" type="image/png" href="images/icons/icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">

        <!--- jQuery -->
        <script src="js/jquery-2.1.1.min.js"></script>
        
    </head>
    <body>
    <div id="wrapper">

        <div id="sticky-header" class="fullwidth-menu header1" data-fixed="fixed"></div><!-- End #sticky-header -->
        <header id="header" class="fullwidth-menu header1">
            <div class="container" data-clone="sticky">
                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <div class="logo-container">
                            <h1 class="logo clearfix">
                                <a href="index.html" title="Granada - Premium Bootstrap eCommerce Template"> Granada</a>
                            </h1>
                        </div><!-- End .logo-container-->
                         
                        <div class="right-side clearfix">
                            <div class="search-container">
                                <form action="#" class="search-form">
                                    <input type="search" name="s" class="s" placeholder="Search entry site here...">
                                    <a href="#" title="Close Search" class="search-close-btn"></a>
                                    <input type="submit" value="Submit" class="search-submit-btn">  
                                </form>
                            </div><!-- End .search-container -->

                            <div class="right-side-wrapper">
                                <a href="#" class="header-search-btn" title="Search"></a>
                            
                                <div class="user-dropdown dropdown">
                                    <a title="My Account" class="dropdown-toggle" data-toggle="dropdown"> <span class="dropdown-icon"></span> <span class="dropdown-text">User</span></a>

                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="#">Currency<span class="dropdown-value">USd</span></a>
                                            <ul>
                                                <li><a href="#">Usd Dollar</a></li>
                                                <li><a href="#">Euro</a></li>
                                                <li><a href="#">Pound St.</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Language<span class="dropdown-value">Eng</span></a>
                                            <ul>
                                                <li><a href="#">English<img src="images/flags/england.jpg" alt="England"></a></li>
                                                <li><a href="#">Spanish<img src="images/flags/spain.jpg" alt="England"></a></li>
                                                <li><a href="#">French<img src="images/flags/france.jpg" alt="England"></a></li>
                                                <li><a href="#">German<img src="images/flags/germany.jpg" alt="England"></a></li>
                                                <li><a href="#">Italian<img src="images/flags/italy.jpg" alt="England"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!-- End .user-dropdown -->

                                <div class="cart-dropdown dropdown pull-right">
                                    <a title="Shopping Cart" class="dropdown-toggle" data-toggle="dropdown"><span class="dropdown-icon"></span> <span class="badge">2</span><span class="dropdown-text">Shopping Cart</span></a>

                                    <div class="dropdown-menu">
                                        <p class="cart-desc">2 item(s) in your cart - $658.00</p>

                                        <div class="product clearfix">
                                            <a href="#" class="delete-btn" title="Delete Product"></a>
                                            <figure class="product-image-container">
                                                <a href="product.html" title="Mustard yellow ruffle dress">
                                                    <img src="images/products/product9.jpg" alt="Product image" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-content">
                                                <h3 class="product-name"><a href="product.html" title="Mustard yellow ruffle dress">Mustard yellow ruffle dress</a></h3>
                                                <div class="product-price-container">
                                                    <span class="product-price">$478.00</span>
                                                </div><!-- End .product-price-container -->
                                            </div><!-- End .product-content -->

                                        </div><!-- End .product -->

                                        <div class="product clearfix">
                                            <a href="#" class="delete-btn" title="Delete Product"></a>
                                            <figure class="product-image-container">
                                                <a href="product.html" title="Navy Blue Silk Pleated Shift Dress">
                                                    <img src="images/products/product2.jpg" alt="Product image" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-content">
                                                <h3 class="product-name"><a href="product.html" title="Navy Blue Silk Pleated Shift Dress">Navy Blue Silk Pleated Shift Dress</a></h3>
                                                <div class="product-price-container">
                                                    <span class="product-old-price">$250.00</span>
                                                    <span class="product-price">$180.00</span>
                                                </div><!-- End .product-price-container -->
                                            </div><!-- End .product-content -->
                                        </div><!-- End .product -->

                                        <div class="clearfix">
                                            <ul class="pull-left action-info-container">
                                                <li>Shipping: <span class="first-color">$7.00</span></li>
                                                <li>Tax: <span class="text-lowercase">free</span></li>
                                                <li>Total: <span class="first-color">$665.00</span></li>
                                            </ul>
                                            <ul class="pull-right action-btn-container">
                                                <li><a href="cart.html" class="btn btn-custom-5">Cart</a></li>
                                                <li><a href="cart.html" class="btn btn-custom">Checkout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- End .cart-dropdown -->
                            </div><!-- End .right-side-wrapper -->

                            <nav id="main-nav">
                                <div id="responsive-nav">
                                    <a id="responsive-btn" href="#">
                                        <span class="responsive-btn-icon">
                                            <span class="responsive-btn-block"></span>
                                            <span class="responsive-btn-block"></span>
                                            <span class="responsive-btn-block last"></span>
                                        </span>
                                        <span class="responsive-btn-text">Menu</span>
                                    </a><!-- responsive-nav-button -->
                                    <div id="responsive-menu-container">
                                        
                                    </div><!-- End #responsive-menu-container -->
                                </div><!-- End .responsive-nav -->
                                
                                <ul class="menu clearfix">
                                    <li><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index2.html">Home 2</a></li>
                                            <li><a href="index3.html">Home 3</a></li>
                                            <li><a href="index4.html">Home 4</a></li>
                                            <li><a href="index5.html">Home 5</a></li>
                                            <li><a href="index6.html">Home 6</a></li>
                                            <li><a href="index7.html">Home 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="megamenu-container"><a href="#">Pages</a>
                                        <div class="megamenu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">Shop</a>
                                                        <ul>
                                                            <li><a href="category.html">Category</a></li>
                                                            <li><a href="category-list.html">Category List</a></li>
                                                            <li><a href="category-banner-slider.html">Slider Banner</a></li>
                                                            <li><a href="product.html">Product</a></li>
                                                            <li><a href="product2.html">Product 2</a></li>
                                                            <li><a href="product3.html">Product 3</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">Shop</a>
                                                        <ul>
                                                            <li><a href="cart.html">Shopping Cart</a></li>
                                                            <li><a href="compare.html">Compare Products</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="register.html">Register Page</a></li>
                                                            <li><a href="login.html">Login Page</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">About</a>
                                                        <ul>
                                                            <li><a href="aboutus.html">About Us</a></li>
                                                            <li><a href="aboutus2.html">About Us 2</a></li>
                                                            <li><a href="contact.html">Contact Us</a></li>
                                                            <li><a href="contact-two.html">Contact Us 2</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="category.html" class="megamenu-title">Extra</a>
                                                        <ul>
                                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                                            <li><a href="coming-soon2.html">Coming Soon 2</a></li>
                                                            <li><a href="404.html">404 Page</a></li>
                                                            <li><a href="404-two.html">404 Page 2</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->

                                                    <div class="col-md-4 menu-banner">
                                                        <a href="#" class="banner text-left">
                                                            <img src="images/banners/megamenu-banner.jpg" alt="Banner">
                                                            <div class="banner-container text-center text-uppercase">
                                                                <h5>Stylish</h5>
                                                                <h4>Men Suits</h4>
                                                                <h5>starting at <span>$150</span></h5>
                                                            </div><!-- End .banner-container -->
                                                        </a><!-- End .banner -->
                                                    </div><!-- End .col-md-4 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .container -->
                                        </div><!-- End.megamenu -->
                                    </li>
                                    <li class="megamenu-container"><a href="#">Features</a>
                                        <div class="megamenu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Portfolio</a>
                                                        <ul>
                                                            <li><a href="portfolio-4.html">Classic Column 4</a></li>
                                                            <li><a href="portfolio-3.html">Classic Column 3</a></li>
                                                            <li><a href="portfolio-2.html">Classic Column 2</a></li>
                                                            <li><a href="portfolio-masonry-4.html">Masonry Column 4</a></li>
                                                            <li><a href="portfolio-masonry-3.html">Masonry Column 3</a></li>
                                                            <li><a href="portfolio-masonry-2.html">Masonry Column 2</a></li>
                                                            
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Portfolio</a>
                                                        <ul>
                                                            <li><a href="portfolio-grid.html">Grid Style</a></li>
                                                            <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                                            <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                                                            
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Elements</a>
                                                        <ul>
                                                            <li><a href="typography.html">Typography</a></li>
                                                            <li><a href="tabs.html">Tabs</a></li>
                                                            <li><a href="collapses.html">Collapses</a></li>
                                                            <li><a href="forms.html">Form Elements</a></li>
                                                            <li><a href="buttons.html">Buttons</a></li>
                                                            <li><a href="grids.html">Grid System</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->
                                                    <div class="col-md-2">
                                                        <a href="#" class="megamenu-title">Elements</a>
                                                        <ul>
                                                            <li><a href="media.html">Media</a></li>
                                                            <li><a href="icons.html">Icons</a></li>
                                                            <li><a href="animations.html">Animations</a></li>
                                                            <li><a href="more.html">More</a></li>
                                                        </ul>
                                                    </div><!-- End .col-md-2 -->

                                                    <div class="col-md-4 menu-banner">
                                                        <a href="#" class="banner text-left">
                                                            <img src="images/banners/megamenu-banner2.jpg" alt="Banner">
                                                            <div class="banner-container text-center text-uppercase">
                                                                <h5>Stylish</h5>
                                                                <h4>Women Suits</h4>
                                                                <h5>starting at <span>$220</span></h5>
                                                            </div><!-- End .banner-container -->
                                                        </a><!-- End .banner -->
                                                    </div><!-- End .col-md-4 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .container -->
                                        </div><!-- End.megamenu -->
                                    </li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Right Sidebar</a></li>
                                            <li><a href="blog-sidebar-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-sidebar-both.html">Both Sidebar</a></li>
                                            <li><a href="blog-fullwidth.html">Fullwidth Blog</a></li>
                                            <li><a href="single.html">Post Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a>
                                        <ul>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="contact-two.html">Contact Us 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav><!-- End #main-nav -->   
                        </div><!-- End .right-side -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </header><!-- End #header -->

       <section id="content" role="main">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li><a href="#" title="Elements">Elements</a></li>
                        <li class="active">Buttons</li>
                    </ul>
                    
                    <div class="lg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Buttons</h3>
                            
                            <button type="button" class="btn btn-default">Default</button>

                            <button type="button" class="btn btn-warning">Warning</button>

                            <button type="button" class="btn btn-danger">Danger</button>

                            <button type="button" class="btn btn-success">Success</button>

                            <button type="button" class="btn btn-info">Info</button>

                            <button type="button" class="btn btn-custom">Custom</button>

                            <button type="button" class="btn btn-custom-2">Custom 2</button>
                            <button type="button" class="btn btn-custom-3">Custom 3</button>
                            <button type="button" class="btn btn-custom-4">Custom 4</button>
                            
                            <br> <br>
                            
                            <button type="button" class="btn btn-custom-5">Custom 5</button>
                            <button type="button" class="btn btn-custom-6">Custom 6</button>
                            <button type="button" class="btn btn-custom-7">Custom 7</button>
                            <button type="button" class="btn btn-custom-8">Custom 8</button>
                            <button type="button" class="btn btn-custom-9">Custom 9</button>
                            <button type="button" class="btn btn-custom-10">Custom 10</button>

                            <button type="button" class="btn btn-link">Link</button>
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->

                    <div class="xlg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Large Buttons</h3>
                            
                            <button type="button" class="btn btn-default btn-lg">Default</button>

                            <button type="button" class="btn btn-warning btn-lg">Warning</button>

                            <button type="button" class="btn btn-danger btn-lg">Danger</button>

                            <button type="button" class="btn btn-success btn-lg">Success</button>

                            <br><br>

                            <button type="button" class="btn btn-info btn-lg">Info</button>

                            <button type="button" class="btn btn-custom btn-lg">Custom</button>

                            <button type="button" class="btn btn-custom-2 btn-lg">Custom 2</button>
                            
                            <button type="button" class="btn btn-link btn-lg">Link</button>
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->

                    <div class="xlg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Smaller Buttons</h3>
                            
                            <button type="button" class="btn btn-default btn-sm">Default</button>

                            <button type="button" class="btn btn-warning btn-sm">Warning</button>

                            <button type="button" class="btn btn-danger btn-sm">Danger</button>

                            <button type="button" class="btn btn-success btn-sm">Success</button>

                            <br><br>

                            <button type="button" class="btn btn-info btn-sm">Info</button>

                            <button type="button" class="btn btn-custom btn-sm">Custom</button>

                            <button type="button" class="btn btn-custom-2 btn-sm">Custom 2</button>

                            <button type="button" class="btn btn-link btn-sm">Link</button>
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->

                    <div class="xlg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>XSmall Buttons</h3>
                            
                            <button type="button" class="btn btn-default btn-xs">Default</button>

                            <button type="button" class="btn btn-warning btn-xs">Warning</button>

                            <button type="button" class="btn btn-danger btn-xs">Danger</button>

                            <button type="button" class="btn btn-success btn-xs">Success</button>

                            <br><br>

                            <button type="button" class="btn btn-info btn-xs">Info</button>

                            <button type="button" class="btn btn-custom btn-xs">Custom</button>

                            <button type="button" class="btn btn-custom-2 btn-xs">Custom 2</button>

                            <button type="button" class="btn btn-link btn-xs">Link</button>
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->

                    <div class="xlg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Block Buttons</h3>
                            
                            <button type="button" class="btn btn-default btn-block">Default</button>

                            <button type="button" class="btn btn-info btn-block">Info</button>

                            <button type="button" class="btn btn-success btn-block">Success</button>

                            <button type="button" class="btn btn-warning btn-block">Warning</button>

                            <button type="button" class="btn btn-danger btn-block">Danger</button>                                        
                            <button type="button" class="btn btn-custom btn-block">Custom</button>

                        </div><!-- End .col-md-6 -->

                        <div class="col-sm-6">
                            <h3>Badges</h3>
                            <button type="button" class="btn btn-default">Default<span class="badge">4</span></button>

                            <button type="button" class="btn btn-info">Info<span class="badge">5</span></button>

                            <br><br>

                            <button type="button" class="btn btn-warning">Warning<span class="badge">9</span></button>

                            <button type="button" class="btn btn-danger">Danger<span class="badge">4</span></button>

                            <br><br>

                            <button type="button" class="btn btn-success">Success<span class="badge">3</span></button>                                        
                            <button type="button" class="btn btn-custom">Custom<span class="badge">1</span></button>
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->


                    <div class="xlg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Button Groups</h3>
                            
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Left</button>
                                <button type="button" class="btn btn-warning">Middle</button>
                                <button type="button" class="btn btn-danger">Right</button>
                            </div><!-- End .btn-group -->

                            <br><br>

                            <div class="btn-group">
                                <button type="button" class="btn btn-success">Left</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-custom">Right</button>
                            </div><!-- End .btn-group -->

                            <br><br>

                            <div class="btn-group">
                                <button type="button" class="btn btn-custom">Left</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-info">Right</button>
                            </div><!-- End .btn-group -->

                            <br><br>

                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Left</button>
                                <button type="button" class="btn btn-danger">Middle</button>
                                <button type="button" class="btn btn-custom">Right</button>
                            </div><!-- End .btn-group -->

                            <br><br><br><br>

                            <h5>Disabled Buttons</h5>

                            <button type="button" class="btn btn-default" disabled="disabled">Default</button>

                            <button type="button" class="btn btn-custom" disabled="disabled">Custom</button>


                            <br><br>

                            <button type="button" class="btn btn-info" disabled="disabled">Green</button>
                            <br><br>                                           
                            <button type="button" class="btn btn-warning" disabled="disabled">Yellow</button>

                            <button type="button" class="btn btn-danger" disabled="disabled">Orange</button>

                            <br><br>
                            <button type="button" class="btn btn-success" disabled="disabled">Red</button>
                            
                            <button type="button" class="btn btn-link" disabled="disabled">Link</button>

                        </div><!-- End .col-md-6 -->

                        <div class="col-sm-6">
                            <h3>Justified button groups</h3>
                            <div class="btn-group btn-group-justified">
                              <a class="btn btn-default" role="button">Left</a>
                              <a class="btn btn-default" role="button">Middle</a>
                              <a class="btn btn-default" role="button">Right</a>
                            </div><!-- End .btn-group -->

                            <br>

                            <div class="btn-group btn-group-justified">
                              <a class="btn btn-info" role="button">Left</a>
                              <a class="btn btn-warning" role="button">Middle</a>
                              <a class="btn btn-danger" role="button">Right</a>
                            </div><!-- End .btn-group -->

                            <br>

                            <div class="btn-group btn-group-justified">
                              <a class="btn btn-custom" role="button">Left</a>
                              <a class="btn btn-success" role="button">Middle</a>
                              <a class="btn btn-default" role="button">Right</a>
                            </div><!-- End .btn-group -->

                            <br>

                            <div class="btn-group btn-group-justified">
                              <a class="btn btn-warning" role="button">Left</a>
                              <a class="btn btn-info" role="button">Middle</a>
                              <a class="btn btn-success" role="button">Right</a>
                            </div><!-- End .btn-group -->

                            <br><br>

                            <h6>With Button element</h6>
                            <div class="btn-group btn-group-justified">
                              <div class="btn-group">
                                <button type="button" class="btn btn-default">Left</button>
                              </div><!-- End .btn-group -->
                              <div class="btn-group">
                                <button type="button" class="btn btn-info">Middle</button>
                              </div><!-- End .btn-group -->
                              <div class="btn-group">
                                <button type="button" class="btn btn-danger">Right</button>
                              </div><!-- End .btn-group -->
                            </div><!-- End .btn-group -->

                            <br>

                            <div class="btn-group btn-group-justified">
                              <div class="btn-group">
                                <button type="button" class="btn btn-warning">Left</button>
                              </div><!-- End .btn-group -->
                              <div class="btn-group">
                                <button type="button" class="btn btn-success">Right</button>
                              </div><!-- End .btn-group -->
                            </div><!-- End .btn-group -->


                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->

                    <div class="xlg-margin"></div><!-- space -->

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Dropdown Buttons</h3>
                            
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default <span class="caret"></span></button>

                                <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a></li>
                                <li class="disabled"><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>

                                <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->


                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>

                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->


                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>

                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>

                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">Custom <span class="caret"></span></button>

                                <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <br><br><br>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Default</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                            <div class="btn-group">
                                <button type="button" class="btn btn-custom">Custom</button>
                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- End. btn-group -->

                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->

                    <div class="lg-margin2x"></div><!-- space -->

                    <hr>

                    <p class="text-right">For more information, please click <a href="//getbootstrap.com/css/#buttons" target="_blank" title="Bootstrap Alerts">here</a> and visit Bootstrap's related page.</p>

                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

       </section><!-- End #content -->
    
        <footer id="footer" class="footer2">
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 widget">
                            <h4 class="border-bottom">My Account</h4>
                            <ul class="links">
                                <li><a href="#" title="My account">My account</a></li>
                                <li><a href="#" title="Personal information">Personal information</a></li>
                                <li><a href="#" title="Addresses">Addresses</a></li>
                                <li><a href="#" title="Discount">Discount</a></li>
                                <li><a href="#" title="Orders history">Orders history</a></li>
                                <li><a href="#" title="Your vouchers">Your vouchers</a></li>
                                <li><a href="#" title="Safe shopping">Safe shopping</a></li>
                                <li><a href="#" title="Size guides">Size guides</a></li>
                            </ul>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4 widget">
                            <h4 class="border-bottom">Customer Service</h4>
                            <ul class="links">
                                <li><a href="#" title="Help &amp; Contact">Help &amp; contact</a></li>
                                <li><a href="#" title="Shipping &amp; taxes">Shipping &amp; taxes</a></li>
                                <li><a href="#" title="Return policy">Return policy</a></li>
                                <li><a href="#" title="Careers">Careers</a></li>
                                <li><a href="#" title="Affiliates">Affiliates</a></li>
                                <li><a href="#" title="Legal Notice">Legal Notice</a></li>
                                <li><a href="#" title="Privacy &amp; Security">Privacy &amp; Security</a></li>
                                <li><a href="#" title="Sitemap">Sitemap</a></li>
                            </ul>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4 widget">
                            <h4 class="border-bottom">From Twitter</h4>
                            <ul class="twitter-widget"></ul>
                        </div><!-- End .col-sm-4 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-inner -->
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="footer-bottom" class="clearfix">
                            <p class="copyright-text">&copy; 2014 Powered by WooCommerce&trade;. All Rights Reserved.</p>

                            <ul class="social-links color2 clearfix">
                                <li><a href="#" class="social-icon icon-facebook" title="Facebook"></a></li>
                                <li><a href="#" class="social-icon icon-twitter" title="Twitter"></a></li>
                                <li><a href="#" class="social-icon icon-rss" title="Rss Feed"></a></li>
                                <li><a href="#" class="social-icon icon-delicious" title="Delicious"></a></li>
                                <li><a href="#" class="social-icon icon-linkedin" title="Linkedin"></a></li>
                                <li><a href="#" class="social-icon icon-flickr" title="Flickr"></a></li>
                                <li><a href="#" class="social-icon icon-skype" title="Skype"></a></li>
                                <li><a href="#" class="social-icon icon-email" title="Email"></a></li>
                            </ul>
                        </div><!-- End #footer-bottom -->
                        
                    </div><!-- End .col-xs-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </footer><!-- End #footer -->
    </div><!-- End #wrapper -->
    
    <!-- scroltop -->
    <a href="#wrapper" id="scroll-top" title="Go to top">Top</a>

    <!-- END -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/bootstrap-switch.min.js"></script>
    <script src="js/jquery.selectbox.min.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/main.js"></script>
	
    </body>
</html>