<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Granada - Premium Bootstrap eCommerce Template</title>
        <meta name="description" content="Granada is premium, bootstrap based and responsive ecommerce template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/revslider6.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        
        <!-- Favicon and Apple Icons -->
        <link rel="icon" type="image/png" href="images/icons/icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">

        <!--- jQuery -->
        <script src="js/jquery-2.1.1.min.js"></script>
	    
    </head>
    <body>
    <div id="wrapper">
    	<header id="header">
			<div class="container">
				<div class="row">
                    <div class="col-md-12 clearfix">
						<div class="logo-container">
							<h1 class="logo clearfix">
								<a href="index.html" title="Granada - Premium Bootstrap eCommerce Template">
                                    Granada                        
                                </a>
							</h1>
						</div><!-- End .logo-container-->
    			
                        <nav id="main-nav" role="navigation">
                            <div id="responsive-nav">
                                <div id="responsive-nav-button">
                                	<span id="responsive-nav-button-icon"></span>
                                </div><!-- responsive-nav-button -->
                            </div><!-- End .responsive-nav -->

                            <ul class="menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="category.html">Shop</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="aboutus.html">About Us</a></li>
                            </ul>
                        </nav><!-- End #main-nav -->   
					</div><!-- End .col-md-12 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
        </header><!-- End #header -->

        <section id="content">

            <div id="revslider-container">
                <div id="revslider">
                    <ul>
                        <li data-transition="slideup" data-slotamount="8" data-masterspeed="800" data-title="Trends">
                            <!-- background image -->
                            <img src="images/revslider/dummy.png"  alt="slidebg1" data-lazyload="images/homesliders/index7/slide1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption rev-subtitle customin customout"
                                data-x="152"
                                data-y="167"
                                data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000"
                                data-start="900"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 10">Introducing our first
                            </div>

                            <div class="tp-caption rev-title customin customout"
                                data-x="0"
                                data-y="220"
                                data-speed="1100"
                                data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="1300"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 6">Sunwear collection
                            </div>


                            <div class="tp-caption rev-text customin customout"
                                data-x="-15"
                                data-y="292"
                                data-speed ="1200"
                                data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="1600"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 12">$95 with polarized lenses curabitur diam felis, tristique et nisi, vulputate ipsum. Maecenas nec diam eleifend.
                            </div>

                            <div class="tp-caption rev-btn customin customout"
                                data-x="211"
                                data-y="391"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1200"
                                data-start="2200"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 14">
                                    <a href="category.html" class="btn btn-custom-3 btn-lg min-width">Take look</a>
                            </div>
                        </li>
                        <li data-transition="slideright" data-slotamount="8" data-masterspeed="800" data-title="Season Sale">
                            <!-- background image -->
                            <img src="images/revslider/dummy.png"  alt="slidebg1" data-lazyload="images/homesliders/index7/slide2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption rev-subtitle lft ltt"
                                data-x="125"
                                data-y="165"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 10">1000+ new arriavals
                            </div>

                            <div class="tp-caption rev-title sfl stl"
                                data-x="-40"
                                data-y="220"
                                data-speed="1200"
                                data-start="1200"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 8">the wait is now over
                            </div>

                            <div class="tp-caption rev-text long sfr str"
                                data-x="-90"
                                data-y="295"
                                data-speed ="1200"
                                data-start="1600"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a lacus Donec convallis suscipit massa id accumsan.
                            </div>

                            <div class="tp-caption rev-btn lfb ltb"
                                data-x="174"
                                data-y="393"
                                data-speed="1100"
                                data-start="1800"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 14">
                                    <a href="category.html" class="btn btn-custom-3 btn-lg min-width">SHOP Women</a>
                            </div>
                        </li>
                        <li data-transition="slideleft" data-slotamount="8" data-masterspeed="800" data-title="Stylish">
                            <!-- background image -->
                            <img src="images/revslider/dummy.png"  alt="slidebg1" data-lazyload="images/homesliders/index7/slide3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            
                            <div class="tp-caption rev-subtitle ralign dark lft ltt"
                                data-x="825"
                                data-y="165"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 10">check it out
                            </div>

                            <div class="tp-caption rev-title ralign dark sfl stl"
                                data-x="650"
                                data-y="220"
                                data-speed="1200"
                                data-start="1200"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 8">Summer dreaming
                            </div>

                            <div class="tp-caption rev-text ralign dark short sfr str"
                                data-x="625"
                                data-y="295"
                                data-speed ="1200"
                                data-start="1600"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 12">Nulla eu faucibus diam. Phasellus nec sapien malesuada, euismod magna a, interdum nisi nunc faucibus.
                            </div>

                            <div class="tp-caption rev-btn ralign lfb ltb"
                                data-x="825"
                                data-y="393"
                                data-speed="1100"
                                data-start="1800"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 14">
                                    <a href="category.html" class="btn btn-custom-3 dark btn-lg min-width">SHOP NOW</a>
                            </div>
                        </li>
                    </ul>
                </div><!-- End #revslider -->
            </div><!-- End #revslider-container -->
            
            <div class="fluid-container">
                <div class="row banner-row">
                    <div class="col-sm-7 col-bn-lg col-banner h-800">
                        <div class="bannerbg collection-banner"></div><!-- End .bannerbg -->
                        <div class="b-content">
                            <div class="vcenter-container">
                                <div class="vcenter">
                                        asdasd
                                </div><!-- End .vcenter -->
                            </div><!-- End .vcenter-container -->
                        </div><!-- End .b-content -->
                    </div><!-- End .col-sm-7 -->
                    <div class="col-sm-5 col-bn-sm col-banner h-800">
                        <div class="bannerbg arrivals-banner"></div><!-- End .bannerbg -->
                    </div><!-- End .col-sm-5 -->
                </div><!-- End .banner-row -->
            </div><!-- End .fluid-container -->


            <div class="fluid-container">
                <div class="row banner-row">
                    <div class="col-sm-5 col-bn-sm">
                        <div class="row banner-row">
                            <div class="col-xs-12 col-banner">
                                <a href="#" class="bannerbg social-banner facebook-banner h-395"></a>
                            </div>
                            <div class="col-xsxs-12 col-banner h-395">
                                <a href="#" class="bannerbg social-banner twitter-banner h-395"></a>
                            </div>
                        </div><!-- End .row -->
                    </div><!-- End .col-sm-5 -->

                    <div class="col-sm-7 col-bn-lg col-banner h-800">
                        <div class="bannerbg collection-banner"></div><!-- End .bannerbg -->
                        <div class="b-content">
                            <div class="vcenter-container">
                                <div class="vcenter">
                                        asdasd
                                </div><!-- End .vcenter -->
                            </div><!-- End .vcenter-container -->
                        </div><!-- End .b-content -->
                    </div><!-- End .col-sm-7 -->
                    
                </div><!-- End .banner-row -->
            </div><!-- End .fluid-container -->
        </section>
    
        <footer id="footer" class="footer4">
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 widget">
                            <h4>Information</h4>
                            <ul class="links">
                                <li><a href="#" title="New Products">New Products</a></li>
                                <li><a href="#" title="Top Sellers">Top Sellers</a></li>
                                <li><a href="#" title="Specials">Specials</a></li>
                                <li><a href="#" title="Manufacturers">Manufacturers</a></li>
                                <li><a href="#" title="Suppliers">Suppliers</a></li>
                                <li><a href="#" title="Our stores">Our stores</a></li>
                            </ul>
                        </div><!-- End .col-md-3 -->

                        <div class="col-sm-6 col-md-3 widget">
                            <h4>My Account</h4>
                            <ul class="links">
                                <li><a href="#" title="My account">My account</a></li>
                                <li><a href="#" title="Personal information">Personal information</a></li>
                                <li><a href="#" title="Addresses">Addresses</a></li>
                                <li><a href="#" title="Discount">Discount</a></li>
                                <li><a href="#" title="Orders history">Orders history</a></li>
                                <li><a href="#" title="Your vouchers">Your vouchers</a></li>
                            </ul>
                        </div><!-- End .col-md-3 -->

                        <div class="sm-margin clearfix visible-sm"></div><!-- space -->

                        <div class="col-sm-6 col-md-3 widget">
                            <h4>Customer Service</h4>
                            <ul class="links">
                                <li><a href="#" title="Help &amp; Contact">Help &amp; contact</a></li>
                                <li><a href="#" title="Shipping &amp; taxes">Shipping &amp; taxes</a></li>
                                <li><a href="#" title="Return policy">Return policy</a></li>
                                <li><a href="#" title="Careers">Careers</a></li>
                                <li><a href="#" title="Affiliates">Affiliates</a></li>
                                <li><a href="#" title="Legal Notice">Legal Notice</a></li>
                            </ul>
                        </div><!-- End .col-sm-3 -->

                        <div class="col-sm-6 col-md-3 widget facebook-widget">
                            <h4>Facebook</h4>
                            <div class="facebook-like-box">
                                <a href="#" class="facebook-like-btn">
                                    <span class="facebook-like-btn-icon light"></span><span>Like!</span>
                                </a>
                                <p>1452 people like <a href="#">Promokit</a></p>
                                <div class="facebook-users clearfix">
                                    <a href="#"><img src="images/facebook/anna.jpg" alt="Anna"><span>Anna</span></a>
                                    <a href="#"><img src="images/facebook/tom.jpg" alt="Tom"><span>Tom</span></a>
                                    <a href="#"><img src="images/facebook/antuan.jpg" alt="Antuan"><span>Antuan</span></a>
                                    <a href="#"><img src="images/facebook/maria.jpg" alt="Maria"><span>Maria</span></a>
                                    <a href="#"><img src="images/facebook/milla.jpg" alt="Milla"><span>Milla</span></a>
                                    <a href="#"><img src="images/facebook/justine.jpg" alt="Justine"><span>Justine</span></a>
                                    <a href="#"><img src="images/facebook/maria2.jpg" alt="Maria"><span>Maria</span></a>
                                    <a href="#"><img src="images/facebook/tom2.jpg" alt="Tom"><span>Tom</span></a>
                                </div>
                            </div><!-- End .facebook-like-box -->
                        </div><!-- End .col-sm-3 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-inner -->
        
        	<div id="footer-bottom-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="footer-bottom" class="clearfix">
                                <p class="copyright-text">&copy; 2014 Powered by WooCommerce&trade;. All Rights Reserved.</p>

                                <ul class="social-links color3 clearfix">
                                    <li><a href="#" class="social-icon icon-facebook" title="Facebook"></a></li>
                                    <li><a href="#" class="social-icon icon-twitter" title="Twitter"></a></li>
                                    <li><a href="#" class="social-icon icon-rss" title="Rss Feed"></a></li>
                                    <li><a href="#" class="social-icon icon-delicious" title="Delicious"></a></li>
                                    <li><a href="#" class="social-icon icon-linkedin" title="Linkedin"></a></li>
                                    <li><a href="#" class="social-icon icon-flickr" title="Flickr"></a></li>
                                    <li><a href="#" class="social-icon icon-skype" title="Skype"></a></li>
                                    <li><a href="#" class="social-icon icon-email" title="Email"></a></li>
                                </ul>
                            </div><!-- End .col-md-12 #footer-bottom -->
                            
                        </div><!-- End .col-xs-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->   
            </div><!-- End #footer-bottom-container -->
        	
        </footer><!-- End #footer -->
    </div><!-- End #wrapper -->
	<!-- END -->

    <!-- scroltop -->
    <a href="#header" id="scroll-top" class="color2" title="Go to top">Top</a>

    <!-- Google map javascript api v3 -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
	<script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/jquery.themepunch.tools.min.js"></script>
    <script src="js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/maplabel.js"></script>
    <script src="js/main.js"></script>
	
    <script>
        $(function() {
            "use strict";
            // Slider Revolution
            jQuery('#revslider').revolution({
                delay:8000,
                startwidth:1170,
                startheight:600,
                fullScreen:"on",
                hideTimerBar: "on",
                spinner: "spinner5",
                navigationVOffset:30
            });
        });

        /*---- Google map -----*/
        (function () {
            "use strict";

            function initialize() {
                /* change your with your coordinates */
                var myLatLng = new google.maps.LatLng(51.514943, -0.133689), // Your coordinates
                    mappy = {
                        center: myLatLng,
                        zoom: 17,
                        scrollwheel: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        styles: [//Style for map
                            {
                                "featureType": "landscape",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "lightness": 25
                                    },
                                    {
                                        "visibility": "on"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "lightness": 51
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "stylers": [
                                    {
                                        "saturation": -50
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "stylers": [
                                    {
                                        "saturation": -20
                                    },
                                    {
                                        "lightness": 30
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "lightness": 40
                                    },
                                    {
                                        "visibility": "on"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "lightness": -25
                                    },
                                    {
                                        "saturation": -100
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "hue": "#ffff00"
                                    },
                                    {
                                        "lightness": -25
                                    },
                                    {
                                        "saturation": -97
                                    }
                                ]
                            }
                        ]
                    };
                    
                var map = new google.maps.Map(document.getElementById("footer-top-small-map"), mappy),
                    newpin = 'images/pin2.png';

                new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    icon: newpin,
                    animation: google.maps.Animation.DROP,
                    title: 'Granada' // Title for marker
                });

                /* Create new lat and long for label placed little bit down from marker*/
                var labelLatLng = new google.maps.LatLng(51.514863, -0.133689),
                    mapLabel = new MapLabel({
                        text: 'Granada',
                        position: labelLatLng,
                        map: map,
                        fontSize: 18,
                        align: 'center'
                    });

                mapLabel.set('position', labelLatLng);
                mapLabel.set('fontColor', '#868176');
                mapLabel.set('fontSize', 12);
                mapLabel.set('strokeWeight', 0);
            }

            if (document.getElementById("footer-top-small-map")) {
                google.maps.event.addDomListener(window, 'load', initialize);
            }
        }());
    </script>
    </body>
</html>