<div class="auth-page" layout layout-align="center center">
    <div class="container page">
        <div layout-gt-md="column" layout-align="center center">
            <div class="password-form md-whiteframe-2dp">
                <h1 class="text-xs-center">Trouble Logging In?</h3>
                <p>To reset your password, please input your username, usually your email address. You will receive an email with a link to create a password.</p>
                <form ng-submit="$ctrl.initiateRequest()" name="passwordForm">
                    <fieldset ng-disabled="$ctrl.isSubmitting">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Username</label>
                                <input ng-model="$ctrl.formData.email" name="email" ng-pattern="/^.+@.+\..+$/" required />
                                <div ng-messages="passwordForm.email.$error" ng-show="passwordForm.email.$touched && (passwordForm.email.$error.pattern || passwordForm.email.$error.required)">
                                    <div ng-message-exp="['required', 'pattern']">
                                        Must be a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column" layout-align="center end">
                            <md-button ng-disabled="passwordForm.$invalid" flex aria-label="$ctrl.title" class="md-raised md-closetbox-primary" type="submit">Submit</md-button>
                        </div>

                        <div layout ng-show="$ctrl.errors" class="errors">
                            <span class="text-center">
                                Forgot your username or having trouble resetting your password? <a class="main-link-color" href="mailto:support@closetbox.me">Click here to contact support</a>
                            </span>
                        </div>

                        <div layout layout-align="center center">
                            <a ui-sref="app.login" class="back-login">
                                <i class="material-icons">keyboard_backspace</i>
                                Return to Login
                            </a>
                        </div>
                    </fieldset>
                </form>

            </div>



            <div class="password-form md-whiteframe-2dp hide">
                <h1 class="text-xs-center">Reset your password</h3>
                <form ng-submit="$ctrl.resetPassword()" name="newPasswordForm">
                    <fieldset ng-disabled="$ctrl.isSubmitting">
                        <div layout="column">
                            <md-input-container flex>
                                <label>Password</label>
                                <input ng-model="$ctrl.passwordData.newPassword" name="newPassword" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
                                <div ng-messages="newPasswordForm.newPassword.$error" ng-show="newPasswordForm.newPassword.$touched && (newPasswordForm.newPassword.$error.pattern || newPasswordForm.newPassword.$error.required)">
                                    <div ng-message-exp="['required', 'pattern']">
                                        Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Re-Password</label>
                                <input ng-model="$ctrl.passwordData.rePassword" name="rePassword" type="password" compare-to="$ctrl.passwordData.newPassword" required />
                                <div ng-messages="newPasswordForm.rePassword.$error" ng-show="newPasswordForm.rePassword.$touched && (newPasswordForm.rePassword.$error.required || newPasswordForm.rePassword.$error.compareTo)">
                                    <div ng-message-exp="['required', 'compareTo']">
                                        Password should match
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout layout-sm="column" layout-align="center end">
                            <md-button ng-disabled="newPasswordForm.$invalid" flex aria-label="$ctrl.title" class="md-raised md-closetbox-primary" type="submit">Submit</md-button>
                        </div>


                        <div layout layout-align="center center">
                            <a ui-sref="app.login" class="back-login">
                                <i class="material-icons">keyboard_backspace</i>
                                Return to Login
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>


        </div>
    </div>
</div>