<div class="main-center newest-tsks">
	<div class="wrapes-inbox">
        <p class="inbox"><!-- <span class="feeds-icons"><i class="fa fa-list" aria-hidden="true"></i></span> -->Note
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
	<div class="default-model tsk-details">
	    <div class="modelbox-body sec-mods">
	        <div class="full-panel--task">
	          <!-- Tab panes -->
	          	<div class="tab-content">
	            	<div class="tab-pane active">
	            		<div class="wrps-feeds reminder-wrps crt-notes crt-new-wrps">
	            			<h4 class="header-models1">Note Subject</h4>
	            			<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 small-vws"> <!-- Subject & due date -->
									<p class="links-txt">Subject: <input type="text" class="controls input-style pull-right"></p>
									<p class="links-txt">On FEEDS:
										<select name="selection" class="pull-right input-style new-inputs">
										  <option value="Category">Category</option>
										  <option value="Category11">Category1</option>
										  <option value="Category2">Category2</option>
										</select>
									</p>
									<p class="links-txt">Created : June-10-2016 8:30Am by Name</p>
									<p class="links-txt right-alig custom-editor">									
										  {{ember-ckeditor value=text}}
									</p>
									<p class="links-txt bts-save-bts">
										<button type="submit" class="btn btn-success  text-uppercase">Save</button>
									<label class="new-lbl"><input type="checkbox">Remind me in</label>
										<select name="selection" class="select-rps">
										  <option value="days">2 days</option>
										  <option value="days">2 days</option>
										  <option value="days">2 days</option>
										</select>
										
									</p>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 no-padding"> <!-- Subject & due date -->
									<div class="wrapes-right-notes">
										<p class="links-txt">Status
											<select name="selection" class="pull-right selects-wrps">
											  <option value="Category">Unresolved</option>
											  <option value="Category11">Unresolved</option>
											  <option value="Category2">Unresolved</option>
											</select>
										</p>
										<p class="links-txt">Note in thread <span class="pull-right"><a href="#">View All</a></span></p>
										<div class="box-type">
											<p class="links-txt">Note in thread</p>
											<p class="links-txt">Created : June-10-2016 8:30Am by Name</p>
										</div>
										<div class="box-type border-bott">
											<p class="links-txt">Note in thread</p>
											<p class="links-txt">Created : June-10-2016 8:30Am by Name</p>
										</div>
										<div class="text-center attach-btns">
											<button class="btn btn-success  text-uppercase new-attchment-bts">New note / Continue thread</button>
										</div>
										<p class="links-txt">Note in thread <span class="pull-right"><a href="#">View All</a></span></p>
										<div class="box-type">
											<p class="links-txt">Note in thread</p>
											<p class="links-txt">Created : June-10-2016 8:30Am by Name</p>
										</div>
										<div class="box-type border-bott">
											<p class="links-txt">Note in thread</p>
											<p class="links-txt">Created : June-10-2016 8:30Am by Name</p>
										</div>
										<div class="text-center attach-btns">
											<button class="btn btn-success  text-uppercase new-attchment-bts">Select Attachment</button>
										</div>								
									</div>
								</div>
							</div>
						</div>
	            	</div>
	          	</div>
	        </div>
	        <div class="clearfix"></div>
	    </div>
	</div>
</div>
