/* Carousel */

.theme-carousel
{
    &.owl-theme {
    	.item{
    		color: #FFF;
    		margin: 0px;
    		padding: 0px 0px;
    		text-align: center;
    		
    		img{
    			display: block;
                height: 100%;
                width: 100%;
    		}
    	}
    	
    	.owl-controls {
            bottom: 6px;
            position: absolute;
            width: 100%;
    		.owl-dots {
    			
    			text-align: center;
    			.owl-dot {
    				background-color: transparent;
    				display: inline-block;
    				height: 20px;
    				width: 20px;
    				margin: 2px;
    				
    				span {
    					border-radius: 4px;
    					background-color: $color6;
    					display: block;
    					height: 8px;
    					margin: 6px;
    					width: 8px;
    				}
    				&.active,
    				&:hover {
    					span {
    					border-radius: 7px;
    					height: 14px;
    					width: 14px;
    					margin: 3px;
    					}
    				}
    			}
    		}
    	}
    }
    &.right-comment {
        .image {
            padding-right: 0.9333333333333333em;
        }
        .image-comment {
            padding-left: 14px;
            h2 {
                color: $color36;
            }
            p {
                color: $color37;
                font: 15px 'Arial';
				line-height: 23px;
				margin-bottom: 21px;
            }
			a {
				font-size: 12px;
				line-height: 1;
				letter-spacing: 0.87px;
			}
        }
        .owl-controls {
            height: 28px;
            position: absolute;
            top: -72px;
            text-align: center;
            width: 100%;
            .owl-nav{
                .owl-prev
                ,.owl-next {
                    display: inline-block;
                    span{
                        border: solid 2px $color38;
                        color: $color-light;
                        display: block;
                        font-size: 11px;
                        height: 28px;
                        line-height: 26px;
                        width: 34px;
						&:hover {
							background-color: $color-links-hover;
							border-color: $color-links-hover;
							color: white;
						}
                    }
                }
                .owl-prev span {
                    border-right-width: 1px;
                }
                .owl-next span {
                    border-left-width: 1px;
                }
            }
        }
    }
    &.over-comment {
        .item {
            position: relative;
        }
        .image-comment {
            @include calc(top,"50% - 86px");
            position: absolute;
            text-align: center;
            width: 100%;
            h3 {
                color: $color30;
				font-weight: normal;
				letter-spacing: 1.2px;
				margin-bottom: 25px;
				margin-top: 0;
            }
            p {
                color: $color28;
                font: normal 17px "PT sans";
				letter-spacing: 1.2px;
				line-height: 1.3;
				margin: 0 auto 23px;
				width: 80%;
            }
        }
    }
}