<div class="footer-line">
    <div class="container-fluid">
      <div class=row"">
        <div class="col-md-4 col-sm-4"><p>2016 © Contetto</p></div>
        <div class="col-md-8 col-sm-8 text-right">
            <ul>
              <li>Online <a href="#"><i class="fa fa-comments"></i><span>07</span></a></li>
              <li>Chat option <a href="#"><i class="fa fa fa-user-plus"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
</div>