<div class="main-center">
	<div class="row wrap-main-2">
	<div class="wrapes-inbox">
        <p class="inbox">Add New feeds
        <ul class="pull-right">
          <li><a href="#">Help</a></li>
          <li><a href="#">Tutarials</a></li>
          <li><a href="#">Quick chat</a></li>
      </ul>
        </p>
    </div>
	<div class="default-model">
	    <div class="modelbox-body sec-mods wrps-dtls addfeed-page">
		<ul class="nav nav-tabs tabs-left text-center" role="tablist">
			<li role="presentation" class="active"><a href="#Coffee" aria-controls="Coffee" role="tab" data-toggle="tab">Coffee Facebook</a></li>
			<li role="presentation"><a href="#Twitter" aria-controls="Twitter" role="tab" data-toggle="tab">Gorgeous Twitter</a></li>
			<li role="presentation"><a href="#Google" aria-controls="Google" role="tab" data-toggle="tab">Gorgeous Google+</a></li>
			<li role="presentation"><a href="#LinkedIN" aria-controls="LinkedIN" role="tab" data-toggle="tab">Gorgeous LinkedIN</a></li>
			<li role="presentation"><a href="#Instragram" aria-controls="Instragram" role="tab" data-toggle="tab">Gorgeous Instragram</a></li>
		  </ul>

		  <!-- Tab panes -->
		  	<div class="right-panel">
		 		<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="Coffee">
						<h4>GORGEOUS COFFEE FACEBOOK</h4>
						<div class="row wrps-lbl-new">
						<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
							<div class="checkrow">
								<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers1">Time Line</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers2">Events</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers3">Schedule</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers4">Message</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers4">Unpublished posts</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers4">Post on page</label>
							</div>
						 </div>
						<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
							 <label><input type="text" class="inpt"> Keyword</label>
							 <div class="checkrow">
								<input type="checkbox" id="newFollowers5" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers5">Activity</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers6" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers6">Shares</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers4">New Likes</label>
							</div>
							<div class="checkrow">
								<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
								<label for="newFollowers4">My posts</label>
							</div>
						</div>
						</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="Twitter">
					<h4>@GORGEOUS TWITTER</h4>
					<div class="row wrps-lbl-new">
					<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
					 <div class="checkrow">
						<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers1">Home</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers2">Mentions</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers3">Message</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers4">My tweets</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers4">Likes</label>
					</div>
					</div>
					<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
					 <label><input type="text" class="inpt"> Keyword</label>
					 <div class="checkrow">
						<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers1">Retweets</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers2">Schedule Posts</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers3">New Followers</label>
					</div>
					</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="Google">
					<h4>GORGEOUS GOOGLE PLUS</h4>
					<div class="row wrps-lbl-new">
						<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
						<div class="checkrow">
							<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers1">Home</label>
						</div>
						<div class="checkrow">
							<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers2">My Posts</label>
						</div>
						<div class="checkrow">
							<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers3">Searched</label>
						</div>
						</div>
						<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
						 <label><input type="text" class="inpt"> Keyword</label>
						<div class="checkrow">
							<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers1">Schedule</label>
						</div>
						</div>
						</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="LinkedIN">
					<h4>GORGEOUS LINKED IN</h4>
					<div class="row wrps-lbl-new">
						<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
						 <div class="checkrow">
							<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers1">Update</label>
						</div>
						<div class="checkrow">
							<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers2">Home</label>
						</div>
						<div class="checkrow">
							<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers3">All Discussion</label>
						</div>
						</div>
						<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
						 <div class="checkrow">
							<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers1">Popular Discussion</label>
						</div>
						 <div class="checkrow">
							<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers1">Company Update</label>
						</div>
						<div class="checkrow">
							<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
							<label for="newFollowers2">Schedule</label>
						</div>
						</div>
						</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="Instragram">
					<h4>GORGEOUS INSTAGRAM</h4>
					<div class="row wrps-lbl-new cts-lbl-new">
					<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
					<div class="checkrow">
						<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers1">Home</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers2">My Posts</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers3">Followers</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers4">Following</label>
					</div>
					</div>
					<div class="col-sm-6 links-txt"> <!-- Subject & due date -->
					 <div class="checkrow">
						<input type="checkbox" id="newFollowers1" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers1">Linked</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers2" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers2">Events</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers3" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers3">Popular</label>
					</div>
					<div class="checkrow">
						<input type="checkbox" id="newFollowers4" name="newFollowers" class="ember-view ember-checkbox">
						<label for="newFollowers4">Schedule</label>
					</div>
					 <label><input type="text" class="inpt"> Keyword</label>
					 <label><input type="text" class="inpt"> Keyword</label>
					 <label><input type="text" class="inpt"> Keyword</label>
					</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success text-add-btn">ADD FEEDS</button>
			</div>
  			
	    </div>
	</div>
</div>
</div>
