<div role="tabpanel" class="tab-pane active review-department-page">
	<div class="tab-pane active">
		<!-- <h3 class="model-heading text-center">Departments</h3> -->
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Manager</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Legal</td>
						<td>Sam</td>
						<td><a class="text-danger" href="#">Remove</a></td>
					</tr>
					<tr>
						<td>Legal</td>
						<td>Sam</td>
						<td><a class="text-danger" href="#">Remove</a></td>
					</tr>
					<tr>
						<td>Legal</td>
						<td>Sam</td>
						<td><a class="text-danger" href="#">Remove</a></td>
					</tr>
					<tr>
						<td>Legal</td>
						<td>Sam</td>
						<td><a class="text-danger" href="#">Remove</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<a href="#" href="/home/brand/reviewflow/departments/add" class="btn btn-success text-uppercase">Add New Department</a>
	</div>
</div>