// =============================================================================
// System / Access PAGE
// =============================================================================
@import 'variables/index';
#access {
    .button-row {
        margin-bottom: 15px;
    }
    .user-detail-section {
        border: 2px solid $grayColor2;
        border-radius: 5px 0px 0px 5px;
        height: 400px;
        overflow-y: auto;
        padding: 30px 15px;
    }

    // User Tab Custom Styling
    //------------------------------------------------------------------------------------------------
    .user-tab-content {
        .search-container {
            margin-bottom: 0px;
        }
        table.md-table {
            border: 1px solid $grayColor1;
            > thead > tr > th, > tbody > tr > td {
                max-width: 200px;
            }

            /* Cell Width adjustment */
            td.md-cell:nth-child(n+2):nth-last-child(n+2), th.md-column:nth-child(n+2):nth-last-child(n+2) {
                padding-right: 6px;
            }
            td.md-cell:first-child, th.md-column:first-child {
                padding: 0 6px;
            }
            td.md-cell:last-child, th.md-column:last-child {
                width: 150px;
                padding-right: 6px;
            }


            .full-name {
                width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        }
    } /* /.user-tab-content */
    // User Tab styling end
    //------------------------------------------------------------------------------------------------

    // Customer Tab Custom Styling
    //------------------------------------------------------------------------------------------------
    .customer-tab-content {
        .section-header {
            // Indicating search input container
            md-input-container {
                margin-bottom: 0px;
            }
        }
    }
    //------------------------------------------------------------------------------------------------


}

.access-modals {
    width: 1040px;
    &.small {
        width: 600px;
        form {
            padding: 30px;
        }
    }
    md-icon {
      color:$grayColor2;
      cursor:pointer;
    }
    .cb-password-actions {
      margin-left:auto;
    }
    md-dialog-actions {
      md-checkbox {
        margin-bottom:0;
        color: $grayColor2;

        .md-icon {
          border-color:$grayColor2 !important;
        }
      }
    }
}
