	<div class="tab-content">
		<div class="tab-pane active">
		   <div class="row">
				<div class="col-md-6 col-sm-6">
					<select class="form-control">
						<option>Category</option>
						<option>Category</option>
						<option>Category</option>
						<option>Category</option>
					</select>
				</div>
				<div class="col-md-6 col-sm-6">
					<select class="form-control">
						<option>Status</option>
						<option>Status</option>
						<option>Status</option>
						<option>Status</option>
					</select>
				</div>
		   </div>
		   <div class="row">
				<div class="col-md-9 col-sm-12">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Search">
					  <div class="input-group-addon"><i class="fa fa-search"></i></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12"><a class="btn btn-success text-uppercase advanced" href="/home/campaign/notes/notes/search">ADVANCED</a></div>
			</div>
		   
		    <div class="row">
				<div class="col-md-3 col-sm-6">
					<a class="btn btn-success text-uppercase new" href="javascript:void()">NEW NOTE</a>
				</div>
				
			</div>
					
		   <div class="table-responsive table-padd">
			 <table class="table table-striped table-bordered text-center">
				<thead>
				<tr>
				  <th>Note By</th>
				  <th>Note Name</th>
				  <th>Date</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				  <td>John S.</td>
				  <td>New Customers</td>
				  <td>17/08/16</td>
				</tr>
				<tr>
				  <td>Stacey T.</td>
				  <td>Contetto Strategy</td>
				  <td>17/08/16</td>
				</tr>
				<tr>
				  <td>Jimmi P.</td>
				  <td>New Customers</td>
				  <td>17/08/16</td>
				</tr>

				<tr>
				  <td>John S.</td>
				  <td>Ideas</td>
				  <td>17/08/16</td>
				</tr>
				<tr>
				  <td>John S.</td>
				  <td>Follow Up</td>
				  <td>17/08/16</td>
				</tr>
				</tbody>
			 </table>
		   </div>
		</div>
	</div>
