<div class="container content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 welcome-shedule">
                    <h3 class="text-center">Your posting schedule</h3>
                    <div class="box">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p><small>Based on your target audience and the face you are posting to Facebook we came up with a schedule, feel free to fine-tune it.</small></p>
                                <button class="btn btn-success" type="button" {{action 'transitionTo' 'home'}}>Skip this step</button>
                                <p><small><b>You Should Post Twice a Day</b></small></p>
                                <p><small>For Facebook, you should post twice a day. Every other day you can post something promotional, keep the rest engaging in order to keep your readership and reach high.</small></p>
                            </div>
                        </div>
                        <div class="table-responsive custom-pretable">
                            <table class="table custom-table table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">12AM-3AM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3AM-5AM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">5AM-9AM</th>
                                    <td class="cell-engage"></td>
                                    <td class="cell-engage"></td>
                                    <td class="cell-marketing"></td>
                                    <td class="cell-engage"></td>
                                    <td class="cell-marketing"></td>
                                    <td class="cell-engage"></td>
                                    <td class="cell-engage"></td>
                                </tr>
                                <tr>
                                    <th scope="row">9AM-11AM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">11AM-1PM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">1PM-3PM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3PM-5PM</th>
                                    <td></td>
                                    <td class="cell-marketing"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">5PM-7PM</th>
                                    <td class="cell-engage"></td>
                                    <td></td>
                                    <td class="cell-engage"></td>
                                    <td></td>
                                    <td></td>
                                    <td class="cell-marketing"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">7PM-10PM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="cell-engage"></td>
                                    <td class="cell-engage"></td>
                                    <td></td>
                                    <td class="cell-engage"></td>
                                </tr>
                                <tr>
                                    <th scope="row">10PM-12AM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>




                        <div class="row">
                            <div class="col-xs-12">
                                <p class="text-center">Click on a time or drag the current points</p>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row text-center">
                                            <div class="col-xs-6">
                                                <img src="assets/images/marketing-icon.png"> Marketing
                                            </div>
                                            <div class="col-xs-6">
                                                <img src="assets/images/engage-icon.png"> Engagement
                                            </div>
                                        </div>
                                        <div class="row  text-center" style="padding-top: 10px;">
                                            <div class="col-xs-6">
                                                <button {{action 'transitionTo' 'home'}} class="btn btn-block btn-success w100 text-uppercase" role="button">Get Started</button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button {{action 'transitionTo' 'home'}} class="btn btn-block btn-success w100 text-uppercase" role="button">Schedule a Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-xs-12">
                                <h4 class="text-center">Connect another account</h4>
                                <a class="custom_button btn-block btn_linkedin" href="#"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</a>
                                <a class="custom_button btn-block btn_twitter" href="#"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
                                <a class="custom_button btn-block btn_facebook" href="#"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
                                <a class="custom_button btn-block btn_googleplus" href="#"><i class="fa fa-google"></i> Sign in with Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
