<div class="row wrap-main-2">
    <div class="wrapes-inbox">
        <p class="inbox">Inbox
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="col-sm-4 col-md-3 wrap-side-4">
            <button class="btn btn-success">New posts</button>
            <h3>Folders</h3>
            <ul>
                <li class="active"><span class="icons-sec"><i class="fa fa-inbox" aria-hidden="true"></i></span>inbox</li>
                <li><span class="icons-sec"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>Message
                    <a class="pull-right" href="#"><span class="badge">5</span></a>
                </li>
                <li><span class="icons-sec"><i class="fa fa-asterisk" aria-hidden="true"></i></span>Archive</li>
            </ul>
            <h3>Folders</h3>
            <ul>
                <li class="active">inbox</li>
                <li><img src="assets/images/image-fb.png">@Contentto
                    <span class="pull-right circle"><i class="fa fa-check" aria-hidden="true"></i></span>
                </li>
                <li><img src="assets/images/image-tw.png">Contentto
                    <span class="pull-right circle"><i class="fa fa-check" aria-hidden="true"></i></span>
                </li>
                <li><img src="assets/images/image-li.png">Contentto inc</li>
            </ul>
            <h3>Folders</h3>
            <ul>
                <li class="active">inbox</li>
                <li>#Support
                    <a class="pull-right" href="#"><span class="badge">5</span></a>
                </li>
                <li>#Replysoon</li>
                <li>#Sales</li>
            </ul>
        </div>
        <div class="col-sm-8 col-md-9 wrape-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
            <div class="wrape-all">
                <div class="wrape-sect">
                    <p class="top-text">From:Name</p>
                    <div class="img-sect">
                        <p class="div-2">
                            <div class="wraper-img-icons">
                                <span class="twitter-iconss"><i class="fa fa-twitter"></i></span>
                                <img src="assets/images/demoface1.png" class="img-circle">
                             </div>
                            <button class="btn btn-success">Positive</button>
                            <span class="span-per">10%</span>
                        </p>
                    </div>
                    <div class="sect-drop">
                    <ul>
                        <li><img src="assets/images/icon-check.png"></li>
                        <li><img src="assets/images/icon-back.png"></li>
                        <li><img src="assets/images/icon-close-bw.png"></li>
                        <li class="entry-icon cmenu dropdown">
                            <img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <ul class="custom-menu dropdown-menu">
                                <li><a href="#">Task</a></li>
                                <li><a href="#">Reminder</a></li>
                                <li><a href="#">Note</a></li>
                                <li><a href="#">Doscussion</a></li>
                                <li><a href="#">Filters</a></li>
                                <li><a href="#">Tags</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    <p class="top-text">@Contentto:socialmeida</p>
                </div>
                <div class="wrape-sect2">
                    <p class="top-text">To:msdljs<span class="pull-right">20 min ago</span></p>
                    <div class="wraper-div">
                        <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                        <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                        <a href="#">dfljdsflgdfls</a>
                    </div>
                </div>
            </div>
                                    <div class="wrape-all">
                <div class="wrape-sect">
                    <p class="top-text">From:Name</p>
                    <div class="img-sect">
                        <p class="div-2">
                            <div class="wraper-img-icons">
                                <span class="twitter-iconss"><i class="fa fa-twitter"></i></span>
                                <img src="assets/images/demoface1.png" class="img-circle">
                            </div>
                            <button class="btn btn-success">Positive</button>
                            <span class="span-per">10%</span>
                        </p>
                    </div>
                    <div class="sect-drop">
                    <ul>
                        <li><img src="assets/images/icon-check.png"></li>
                        <li><img src="assets/images/icon-back.png"></li>
                        <li><img src="assets/images/icon-close-bw.png"></li>
                        <li class="entry-icon cmenu dropdown">
                            <img src="assets/images/icon-more.png" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <ul class="custom-menu dropdown-menu">
                                <li><a href="#">Task</a></li>
                                <li><a href="#">Reminder</a></li>
                                <li><a href="#">Note</a></li>
                                <li><a href="#">Doscussion</a></li>
                                <li><a href="#">Filters</a></li>
                                <li><a href="#">Tags</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    <p class="top-text">@Contentto:socialmeida</p>
                </div>
                <div class="wrape-sect2">
                    <p class="top-text">To:msdljs<span class="pull-right">20 min ago</span></p>
                    <div class="wraper-div">
                        <p class="txt">fjsdlfjldjsladfjls fjksad;fk jsldjsal nfkhsakf dfkjsdk kfhksd fndsklnf nsodjflsad jdfljksa</p>
                        <p class="txt1"><span class="small">@fdskm</span>jflsjd</p>
                        <a href="#">dfljdsflgdfls</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 right-side">
        <div class="col-sm-12 wrap-side-4">
            <h3 class="filters">Filter Type</h3>
            <ul class="list-type">
                <li class="active"><label><input type="checkbox"> <img src="assets/images/notification-tw.png">Twitter</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li class="active"><label><input type="checkbox" checked> <img src="assets/images/notification-fb.png">fACEBOOK</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li class="active"><label><input type="checkbox"> <img src="assets/images/icon-contetto.png">Contentto</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
                <li><label><input type="checkbox">Mention</label></li>
            </ul>
        </div>
    </div>
</div>
