<div class="main-center newest-tsks">
  <div class="wrapes-inbox">
        <p class="inbox"><span class="feeds-icons"><i class="fa fa-list" aria-hidden="true"></i></span>Tasks
        <ul class="pull-right">
            <li>Help</li>
            <li>Tutarials</li>
            <li>Quick chat</li>
        </ul>
        </p>
    </div>
    <div class="default-model tsk-details">
        <div class="modelbox-body">
            <div class="full-panel--task">
              <!-- Tab panes -->
                <div class="tab-content">
                        <div class="tab-pane active">
                          <div class="row">
                          </div>
                          <div class="row"> <!-- Search -->
                            <div class="form-group col-md-3">
                              <select class="form-control">
                                <option>Class</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                              <select class="form-control">
                                <option>Status</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <div class="input-group">
                                 <input type="text" placeholder="Search" class="form-control" id="">
                                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                              </div>
                            </div>
                            <div class="form-group color-btns col-md-2 col-sm-12 col-xs-12">
                              <button type="submit" class="btn btn-success btn--task-search btn-block text-uppercase">Search</button>
                            </div>
                            <!-- <div class="form-group col-md-2 col-sm-12 col-xs-12">
                              {{#link-to "home.tasks.advanced-search" class=""}}Advanced{{/link-to}}
                            </div> -->
                          </div>
                          <div class="table-responsive taskslist-table"> <!-- Tasks table -->
                             <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>Due date</th>
                                        <th>Created by</th>
                                        <th>Assigned to</th>
                                        <th>Status</th>
                                        <th>Subject</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>November 9, 2016</td>
                                        <td>Yassine Sania</td>
                                        <td>Luca Pico</td>
                                        <td>In progress</td>
                                        <td>Image for post</td>
                                        <div class="popup">
                                          <ul>
                                            <li><strong>Task Created By:</strong> You on November 9, 2015</li>
                                            <li><strong>Task Assigned to:</strong> Kevin Mishal</li>
                                            <li><strong>Status:</strong> Overdue</li>
                                            <li><strong>Dependent On:</strong> Content your Post</li>
                                            <li><strong>Details:</strong> Need to approve post for Cleint contetto</li>
                                          </ul>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td>February 22, 2016</td>
                                        <td>Mago Ritto</td>
                                        <td>Dani Betta</td>
                                        <td>Overdue</td>
                                        <td>Schedule post</td>
                                        <div class="popup">
                                          <ul>
                                            <li><strong>Task Created By:</strong> You on November 9, 2015</li>
                                            <li><strong>Task Assigned to:</strong> Kevin Mishal</li>
                                            <li><strong>Status:</strong> Overdue</li>
                                            <li><strong>Dependent On:</strong> Content your Post</li>
                                            <li><strong>Details:</strong> Need to approve post for Cleint contetto</li>
                                          </ul>
                                        </div>
                                    </tr>
                                </tbody>
                             </table>
                          </div>
                          <div class="center-block color-btns submit-btn mb20"> <!-- New task -->
                              {{#link-to "home.tasks.new" class="btn btn-success  text-uppercase"}}New task{{/link-to}}
                          </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
