  <div class="main-center wrps-dtls">
    <div class="row wrap-main-2">
      <div class="wrapes-inbox">
          <p class="inbox">Brand
          <ul class="pull-right">
              <li>Help</li>
              <li>Tutarials</li>
              <li>Quick chat</li>
          </ul>
          </p>
      </div>

		<div class="default-model tsk-details wraper-brands">
		    <div class="modelbox-body">
		      {{brand-tab-left-panel class='left-panel padding-none  tabs-left2' isGoalTabActive=model.isGoalTabActive}}
		        <div class="right-panel brandgoal-page">
		          <!-- Tab panes -->
		          {{outlet}}
		        </div>
		        <div class="clearfix"></div>
		    </div>
		</div>
	</div>
</div>