<div class="tab-content">
  <div class="tab-pane active">
     <!-- <h3 class="model-heading text-center">Add Review</h3> -->
     <div class="col-md-6 col-md-offset-3 col-sm-12 addaccount-page">
     	<p>Link your review website to your account</p>
     	<div class="account_box">
     		<ul class="btns text-uppercase">
     			<li><a href="#" class="btn btn-yelp btn-block">YELP</a></li>
     			<li><a href="#" class="btn btn-zomato btn-block">ZOMATO</a></li>
     			<li><a href="#" class="btn btn-open btn-block">OPEN TABLE</a></li>
     			<li><a href="#" class="btn btn-four btn-block">FOUR SQUARE</a></li>
     			<li><a href="#" class="btn btn-trust btn-block">TRUST PILOT</a></li>
     		</ul>
     	</div>
     </div>
     <!-- <div class="wraper-all-btns">
      	<button type="button" class="btn btn-danger YELP">YELP</button>
		<button type="button" class="btn btn-primary ZOMATO">ZOMATO</button>
		<button type="button" class="btn btn-success OPEN-TABLE">OPEN TABLE</button>
		<button type="button" class="btn btn-info FOUR-SQUARe">FOUR SQUARE</button>
		<button type="button" class="btn btn-warning TRUST">TRUST PILOT</button>
	</div> -->
  </div>
</div>