<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-left">
	<li class="{{if isDetailsTabActive 'active'}}">{{#link-to "home.accountsettings.details" class="text-uppercase text-center"}}DETAILS{{/link-to}}</li>
	<li class="{{if isPasswordTabActive 'active'}}">{{#link-to "home.accountsettings.password"  class="text-uppercase text-center"}}PASSWORD{{/link-to}}</li>
	<li class="{{if isNotificationTabActive 'active'}}">{{#link-to "home.accountsettings.notification" class="text-uppercase text-center"}}NOTIFICATION{{/link-to}}</li>
</ul>