<ul class="nav nav-tabs" role="tablist">
	<li class="{{if isChannelTabActive 'active'}}">{{#link-to "home.brand.reviewflow.channels" class="text-uppercase text-center"}}Channels{{/link-to}}</li>
	<li class="{{if isDepartTabActive 'active'}}">{{#link-to "home.brand.reviewflow.departments" class="text-uppercase text-center"}}Departments{{/link-to}}</li>
	<li class="{{if isSettingsTabActive 'active'}}">{{#link-to "home.brand.reviewflow.settings" class="text-uppercase text-center"}}Settings{{/link-to}}</li>
</ul>