<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-left">
    <li class="{{if isDetailsTabActive 'active'}}">{{#link-to "home.company.details" class="text-uppercase text-center"}}DETAILS{{/link-to}}</li>
    <li class="{{if isUsersTabActive 'active'}}">{{#link-to "home.company.users" class="text-uppercase text-center"}}USERS{{/link-to}}</li>
    <li class="{{if isRolesTabActive 'active'}}">{{#link-to "home.company.roles" class="text-uppercase text-center"}}ROLES{{/link-to}}</li>
</ul>