<div role="tabpanel" class="tab-pane active review-channel-page">
	<!-- <h3 class="model-heading text-center">Add Review Channels</h3> -->
	<form>
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-4">Name</label>
			<div class="col-md-5 col-sm-5"><input class="form-control" type="text"></div>
			<button class="btn btn-success text-uppercase">Add Step</button>
		</div>
	</form>
	<div class="stepbox">
		<div class="row">
			<div class="col-md-2 col-sm-3"><label>Order</label><input class="form-control" type="number" value="1"></div>
			<div class="col-md-5 col-sm-6">
				<label>Step Name</label>
				<textarea class="form-control">Pass Legal</textarea>
			</div>
			<button class="btn btn-success text-uppercase">Add Department</button>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Department</th>
						<th>Require Approval</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Legal</td>
						<td><input type="checkbox"></td>
						<td><a href="#" class="text-danger">Remove</a></td>
					</tr>
					<tr>
						<td>Marketting</td>
						<td><input type="checkbox"></td>
						<td><a href="#" class="text-danger">Remove</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="stepbox">
		<div class="row">
			<div class="col-md-2 col-sm-3"><label>Order</label><input class="form-control" type="number" value="2"></div>
			<div class="col-md-5 col-sm-6">
				<label>Step Name</label>
				<textarea class="form-control">Graphics</textarea>
			</div>
			<button class="btn btn-success text-uppercase">Add Department</button>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Department</th>
						<th>Require Approval</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Graphics</td>
						<td><input type="checkbox"></td>
						<td><a href="#" class="text-danger">Remove</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<button class="btn btn-success text-uppercase" style="margin:0 0 15px">Save</button>
</div> 